{% extends  'website/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <section class="vendor_dashboard_section  aos-init aos-animate mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                {% include 'client/include/dashboard_navbar.html' %}
                <div class="col col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_dashboard" role="tabpanel">

                            <div class="total_revenue aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                                <div class="vd_title_wrap">
                                    <h3>Address Form</h3>
                                </div>
                                <div class="vd_shadow">
                                    <div class="row">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <button class="btn text-white" style="background-color: #f7b33c"
                                                    type="submit">
                                                {% if request.path == '/c/my-address/' %}
                                                    Update
                                                {% else %}
                                                    Create
                                                {% endif %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Wait for the page to load
        window.addEventListener('load', function () {
            var selectElement = document.getElementById('id_address_label');
            selectElement.style.display = 'block';

            var selectElement1 = document.getElementById('id_country');
            selectElement1.style.display = 'block';
            var niceSelect = document.querySelector('#div_id_country .nice-select');
            if (niceSelect) {
                niceSelect.style.display = 'none';
            }

            var customSelect = document.querySelector('.nice-select');
            customSelect.style.display = 'none';
        });

    </script>

{% endblock %}
