{% extends  'website/base.html' %}
{% load static %}

{% block content %}

    <section class="vendor_dashboard_section  aos-init aos-animate mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                {% include 'client/include/dashboard_navbar.html' %}
                <div class="col col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_dashboard" role="tabpanel">
                            <div class="total_revenue aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                                <div class="vd_title_wrap">
                                    <h3>My Address</h3>
                                    <a href="{% url 'client:address-create' %}" class="float-end text-warning">Add New Address</a>
                                </div>
                                <div class="row">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                {% if object_list %}
                                                    {% for object in  object_list %}
                                                        <div class="col-sm-6">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <a href="{% url 'client:user-address-delete' object.id %}" class=" float-end text-danger m-0">&nbsp;&nbsp;<i class="fa fa-trash"></i></a>
                                                                    <a href="{% url 'client:user-address-update' object.id %}" class=" float-end text-warning m-0"><i class="fa fa-edit"></i></a>
                                                                    <p class=" m-0">{{ object.full_name }}</p>
                                                                    <p class=" m-0">{{ object.contact }}</p>
                                                                    <p class=" m-0">{{ object.state }}</p>
                                                                    <p class="  m-0">{{ object.address }}</p>
                                                                    <div>
                                                                        <small style="font-size: 12px;background-color: #f5f5f5">{{ object.address_label }}</small>&nbsp;
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="text-danger">Address Are Not Added yet</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
