{% extends  'website/base.html' %}
{% load static %}

{% block content %}
<section class="vendor_dashboard_section  aos-init aos-animate mt-4"  data-aos="fade-up" data-aos-duration="2000">
            <div class="container">
               <div class="row">
                   {% include 'client/include/dashboard_navbar.html' %}
                  <div class="col col-lg-9">
                     <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_dashboard" role="tabpanel">
                           <div class="row">
                              <div class="col col-lg-4">
                                 <div class="funfact_item aos-init aos-animate" style="background-image: url('{% static 'website/images/funfact/funfact_bg_1.png' %}');" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="item_content">
                                       <h3>Total Orders</h3>
                                       <span>{{ total_orders }}</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col col-lg-4">
                                 <div class="funfact_item aos-init aos-animate" style="background-image: url('{% static 'website/images/funfact/funfact_bg_2.png' %}');" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="item_content">
                                       <h3>Pending Orders</h3>
                                       <span>{{ pending_orders }}</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col col-lg-4">
                                 <div class="funfact_item aos-init aos-animate" style="background-image: url('{% static 'website/images/funfact/funfact_bg_3.png' %}');" data-aos="fade-up" data-aos-duration="2000">
                                    <div class="item_content">
                                       <h3>Completed Orders</h3>
                                       <span>{{ completed_orders }}</span>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="total_revenue aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                              <div class="vd_title_wrap">
                                 <h3>Profile Setting</h3>
                              </div>
                              <div class="vd_shadow">
                                  <div class="row">
                                      <div class="col-4 mt-4">
                                          <label>Full Name</label><br>
                                          <label>{% if request.user.name_or_username %}{{ request.user.name_or_username }}{% else %}None{% endif %}</label>
                                      </div>
                                      <div class="col-4 mt-4">
                                          <label>Email Address &nbsp;|&nbsp;<small class="text-warning">Change</small></label><br>
                                          <label>{{ request.user.email }}</label>
                                      </div>
                                      <div class="col-4 mt-4">
                                          <label>Mobile Number &nbsp;|&nbsp;<small class="text-warning">Change</small></label><br>
                                          <label>{{ request.user.phone_number }}</label>
                                      </div>
                                       <div class="col-4 mt-4">
                                          <label>BirthDay </label><br>
                                          <label>{{ request.user.date_of_birth}}</label>
                                      </div>
                                       <div class="col-4 mt-4">
                                          <label> Gender</label><br>
                                          <label>{{ request.user.gender }}</label>
                                      </div>

                                  </div>
                                  <div class="row mt-4">
                                     <div class="col-12">
                                        <label class="text-warning">Subscribe to our NewLetter</label><br>
                                         <a href="{% url 'client:user-change' %}" class="btn custom_btn text-white mt-2">Edit Profile</a><br>
                                         <button type="button" class="btn custom_btn text-white mt-2">Change Password</button>
                                     </div>
                                  </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
{% endblock %}
