{% extends  'website/base.html' %}
{% load static %}

{% block content %}

    <section class="vendor_dashboard_section  aos-init aos-animate mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                {% include 'client/include/dashboard_navbar.html' %}
                <div class="col col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_dashboard" role="tabpanel">
                            <div class="total_revenue aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                                <div class="vd_title_wrap">
                                    <h3>Cancel Orders</h3>
                                </div>
                                <div class="row">
                                    {% for object in '12345' %}
                                        <div class="col-sm-12 m-2">
                                            <div class="card">
                                                <div class="card-body">

                                                    <label style="font-size: 22px"><b>Requested on 01 sep
                                                        2023</b></label>
                                                    <a href="#" class="text-warning float-end fs-11" aria-label="Close">More
                                                        Details</a>

                                                    <p>Order#123445566</p>
                                                    <div class="row align-items-end">
                                                        <div class="col-sm-4">
                                                            <div class="d-flex position-relative">
                                                                <img src="{% static 'website/images/meta/meta1.png' %}"
                                                                     style="height: 70px;"
                                                                     class="flex-shrink-0 me-3 avatar-xl rounded"
                                                                     alt="...">
                                                                <div>
                                                                    <p class="mt-0">Custom component with stretched
                                                                        link</p>
                                                                </div>
                                                                <div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 text-center">
                                                            <div>
                                                                <p class="mt- text-warning ">Qty:1 </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 text-end">
                                                            <button style="background-color: #d5d5d5"
                                                                    class="p-1 px-4 text-dark">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
