{% extends  'website/base.html' %}
{% load custom_tags %}
{% load static %}

{% block content %}
    <style>
        /* CSS */
        .steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            position: relative;
        }

        .step-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: #b8b8b8;
            transition: .4s;
        }

        .step-button[aria-expanded="true"] {
            width: 60px;
            height: 60px;
            background-color: #f9b43c;
            color: #fff;
        }

        .done {
            background-color: #0b5ed7;
            color: #fff;
        }

        .step-item {
            z-index: 10;
            text-align: center;
        }

        #progress {
            -webkit-appearance: none;
            position: absolute;
            width: 95%;
            z-index: 5;
            height: 1px;
            margin-left: 18px;
            margin-bottom: 18px;
        }

        /* to customize progress bar */
        #progress::-webkit-progress-value {
            background-color: #acacac;
            transition: .5s ease;
        }

        #progress::-webkit-progress-bar {
            background-color: #acacac;

        }
    </style>
    <section class="vendor_dashboard_section  aos-init aos-animate mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                {% include 'client/include/dashboard_navbar.html' %}
                <div class="col col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_dashboard" role="tabpanel">
                            <div class="total_revenue aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                                <div class="vd_title_wrap">
                                    <h3 class="float-end">Order Detail</h3>
                                    <h3><a class="btn btn-warning btn-sm text-dark"
                                           href="{% url 'client:order_invoice' object.id %}"> Generate Invoice</a></h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 m-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <label style="font-size: 22px"><b>Order # {{ object.id }}</b></label>
                                                <p class="float-end text-warning  fs-11">
                                                    Total {{ object.sub_total|floatformat:"2" }} &nbsp;</p>
                                                <p class="  fs-11">Placed on {{ object.created_on }}</p>
                                                {% if object.payment_status == "unpaid" %}
                                                    <p class=" float-end fs-11">
                                                        <a href="{% url 'razorpay:pay' object.id %}"><i
                                                                class=" float-end fa fa-credit-card-alt text-success">&nbsp;&nbsp;repay</i></a><br>
                                                        <a href="#"><i class="fa fa-times text-danger">&nbsp;&nbsp;Cancel</i></a>
                                                    </p>
                                                {% else %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="card mt-4">
                                            <div class="card-body">
                                                <label style="font-size: 22px"><b>Packing {{ object.id }}</b></label>
                                                {% if object.order_status != "pending" or object.order_status != "cancelled" %}
                                                    {% if order.shipment_type == "custom" %}
                                                        <a href="{% url 'client:shipment_detail' object.get_shipment_id %}"
                                                           style="background-color: #f5b23c"
                                                           class="p-1 px-2 float-end text-white">View Shipment
                                                        </a>
                                                    {% elif object.shipment_type == "ship_rocket" %}
                                                        <a href="{% url 'client:shiprocket_shipment_detail' object.get_shiprocket_shipment_id %}"
                                                           style="background-color: #f5b23c"
                                                           class="p-1 px-2 float-end text-white">View Shipment
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                <p class=" fs-11">Placed on {{ object.created_on }}</p>
                                                <p>

                                                </p>

                                                <hr>
                                                <p class=" float-end text-warning">Stander delivery</p>
                                                <p class="text-warning">Get by fri 22 mar - fri 29 mar</p>
                                                <div style="padding-left: 80px;padding-right: 80px;">
                                                    <div class="steps">
                                                        <progress id="progress" value="0" max="100"></progress>
                                                        <div class="step-item">
                                                            <button class="step-button text-center" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapseOne"
                                                                    {% if object.order_status != 'pending' or object.order_status != 'cancelled' %}
                                                                    aria-expanded="true"
                                                                    {% else %}
                                                                    aria-expanded="false"
                                                                    {% endif %}
                                                                    aria-controls="collapseOne">
                                                            </button>
                                                            <div class="step-title">
                                                                Ordered
                                                            </div>
                                                        </div>
                                                        <div class="step-item">
                                                            <button class="step-button text-center collapsed"
                                                                    type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapseTwo"
                                                                    {% if object.get_shipment_status == 'initialized' or object.get_shipment_status == 'cancelled' %}
                                                                    aria-expanded="false"
                                                                    {% else %}
                                                                    aria-expanded="true"
                                                                    {% endif %}
                                                                    aria-controls="collapseTwo">
                                                            </button>
                                                            <div class="step-title">
                                                                Shipping
                                                            </div>
                                                        </div>
                                                        <div class="step-item">
                                                            <button class="step-button text-center collapsed"
                                                                    type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapseThree"
                                                                    {% if object.get_shipment_status == 'completed' or object.order_status == 'completed' %}
                                                                    aria-expanded="true"
                                                                    {% else %}
                                                                    aria-expanded="false"
                                                                    {% endif %}
                                                                    aria-controls="collapseThree">
                                                            </button>
                                                            <div class="step-title">
                                                                Delivered
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                {% for obj in object.get_cart %}
                                                    <div class="row align-items-end mt-3 mb-3">
                                                        <div class="col-sm-4">
                                                            <div class="d-flex position-relative">
                                                                <img src="{{ obj.product.thumbnail_image|image_or_placeholder }}"
                                                                     style="height: 70px;"
                                                                     class="flex-shrink-0 me-3 avatar-xl rounded"
                                                                     alt="...">
                                                                <div>
                                                                    <p class="mt-0">{{ obj.product.title }}</p>
                                                                </div>
                                                                <div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 mt-2 text-center">
                                                            <div>
                                                                <p class="mt-2 text-warning ">
                                                                    Total:{{ obj.get_total_price }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 text-center">
                                                            <div>
                                                                <p class="mt- text-warning ">Qty:{{ obj.qty }} </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-7">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label style="font-size: 20px" class="my-3">Shipping Address</label>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p class=" m-0">{{ object.full_name }}</p>
                                                        <p class=" m-0">{{ object.contact }}</p>
                                                        <p class="  m-0">{{ object.address }} &nbsp;{{ object.city }}
                                                            &nbsp;{{ object.state }} &nbsp;{{ object.country }} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label style="font-size: 20px" class="my-3">Billing address</label>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p class=" m-0">{{ object.full_name }}</p>
                                                        <p class=" m-0">{{ object.contact }}</p>
                                                        <p class="  m-0">{{ object.address }} &nbsp;{{ object.city }}
                                                            &nbsp;{{ object.state }} &nbsp;{{ object.country }} </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label style="font-size: 20px" class="my-3">Total Summary</label>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div>
                                                            <p class="float-end  mt-1 m-0">{{ object.total }}</p>
                                                            <p class="  mt-1 m-0">Total</p>
                                                        </div>
                                                        <div>
                                                            <p class="float-end  mt-1 m-0">{{ object.shipping_charges }}</p>
                                                            <p class="  mt-1 m-0">Shipping Charges</p>
                                                        </div>
                                                        <div>
                                                            <p class="float-end  mt-1 m-0">{{ object.tax }}</p>
                                                            <p class="  mt-1 m-0">Tax</p>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            <p class="float-end  mt-1 m-0">{{ object.sub_total }}</p>
                                                            <p class="  mt-1 m-0">Sub Total</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
