{% extends  'website/base.html' %}
{% load custom_tags %}
{% load static %}

{% block content %}

    <section class="vendor_dashboard_section  aos-init aos-animate mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                {% include 'client/include/dashboard_navbar.html' %}
                <div class="col-lg-9" id="invoice-content">
                    <div class="card">
                        <div class="card-body">
                            <div class="invoice-title">
                                <h4 class="float-end font-size-15">Invoice #{{ object.get_order_invoice.id }} <span
                                        class="badge bg-success font-size-12 ms-2">{{ object.order_status }}</span></h4>
                                <div class="mb-4">
                                    <h2 class="mb-1 text-muted"><img src="{% static 'Logo_New_rajeshtan 1.png' %}"></h2>
                                </div>
                            </div>

                            <hr class="my-4">

                            <div class="row">
                               <div class="col-sm-4">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed By:</h5>

                                Billed By
                                <h5>j h webtech</h5>
                                <p class="m-0">185, karannagar (G.H.B, Sanand - Nalsarovar Rd, Ahmedabad, Gujarat
                                    382110,</p>
                                <p class="m-0">Ahmedabad,</p>
                                <p class="m-0">Gujarat, India - 382110</p>
                                <p class="m-0">GSTIN: 24APVPJ6817J1ZC</p>
                                <p class="m-0">PAN: APVPJ6817J</p>
                                <p class="m-0">Email: jhwebtech2016@gmail.com</p>
                                <p class="m-0">Phone: +91 70417 17178</p>
                                <p class="m-0">Bank Name: Bank Of Baroda</p>
                                <p class="m-0">Bank Account No: 31030200001599</p>
                                <p class="m-0">IFSC Code: BARB0SANAND</p>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-4">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                <h5 class="font-size-15 mb-2">{{ object.full_name }}</h5>
                                <p class="mb-1">{{ object.address }}, {{ object.city }}
                                    ,{{ object.state }}, {{ object.country }}
                                <p class="mb-1">{{ object.email }}</p>
                                <p class="mb-1">{{ object.contact }}</p>
                                {% if object.gst_in %}
                                    <p class="mb-1">CSGT: {{ object.gst_in }}</p>
                                {% endif %}
                            </div>
                        </div>
                                <!-- end col -->
                                <div class="col-sm-4">
                                    <div class="text-muted text-sm-end">
                                        <div>
                                            <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                            <p>#{{ object.get_order_invoice.invoice_number }}</p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                            <p>{{ object.get_order_invoice.created_on }}</p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="font-size-15 mb-1">Order No:</h5>
                                            <p>#{{ object.id }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                            <div class="py-2">
                                <h5 class="font-size-15">Order Summary</h5>

                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap table-centered mb-0">
                                        <thead>
                                        <tr>
                                            <th style="width: 70px;">No.</th>
                                            <th>Item</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th class="text-end" style="width: 120px;">Total</th>
                                        </tr>
                                        </thead><!-- end thead -->
                                        <tbody>
                                        {% for obj in object.get_cart %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14 mb-1">{{ obj.product }}
                                                        </h5>
                                                        <p class="text-muted mb-0">{% if obj.product_weight %}
                                                            {{ obj.product_weight.weight }}{% endif %}</p>
                                                    </div>
                                                </td>
                                                <td>{% if obj.product_weight %}
                                                    {{ obj.product_weight.get_product_weight_discounted_price }}{% endif %}</td>
                                                <td>{{ obj.qty }}</td>
                                                <td class="text-end">{{ obj.get_total_price }}</td>
                                            </tr>
                                        {% endfor %}
                                        <!-- end tr -->
                                        <tr>
                                            <th scope="row" colspan="4" class="text-end">Total</th>
                                            <td class="text-end">{{ object.total }}</td>
                                        </tr>
                                        <!-- end tr -->
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                Shipping Charge :
                                            </th>
                                            <td class="border-0 text-end">{{ object.shipping_charges }}</td>
                                        </tr>
                                        <!-- end tr -->
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                Tax :
                                            </th>
                                            <td class="border-0 text-end">{{ object.tax }}</td>
                                        </tr>
                                        <!-- end tr -->

                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">Sub Total</th>
                                            <td class="border-0 text-end"><h4
                                                    class="m-0 fw-semibold">{{ object.sub_total }}</h4></td>
                                        </tr>
                                        <!-- end tr -->
                                        </tbody><!-- end tbody -->
                                    </table><!-- end table -->
                                </div><!-- end table responsive -->
                                <div class="d-print-none mt-4">
                                    <div class="float-end">

                                        <button id="download-btn"
                                                class="btn btn-warning w-md">Download
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->

            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
            integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Function to convert HTML to image and trigger download
        function downloadInvoice() {
            // Select the HTML element containing the invoice content
            const element = document.getElementById('invoice-content');

            // Use html2canvas to convert the HTML content to an image
            html2canvas(element).then(canvas => {
                // Convert the canvas to a data URL
                const imageData = canvas.toDataURL('image/png');

                // Create a temporary link element
                const link = document.createElement('a');
                link.href = imageData;
                link.download = 'invoice.png';

                // Trigger a click event on the link to initiate the download
                document.body.appendChild(link);
                link.click();

                // Clean up
                document.body.removeChild(link);
            });
        }

        // Attach click event listener to the download button
        document.getElementById('download-btn').addEventListener('click', downloadInvoice);
    </script>
{% endblock %}
