{% extends 'website/base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block subtitle %}Login Now{% endblock %}


{% block content %}

    <section class="login-page section-b-space">
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-5 card my-4">
                    <div class="theme-card">
                        <div class="p-2">
                            <h4 class="text-center mt-4">Login & Signup Form</h4>

                            <div class="btn-group my-4" role="group" style="border: 2px solid #e2e1e1"
                                 aria-label="Basic example">
                                <a href="{% url 'account_login' %}" type="button" class="btn btn-white">Login</a>
                                <a href="{% url 'account_signup' %}" class="btn custom_btn  text-white ">Signup</a>
                            </div>
                            <form class="login" id="login_form" method="POST" action="{% url 'account_login' %}">

                                {% csrf_token %}

                                {{ form|crispy }}
                                <div class="row">

                                    <div class="col-12 text-end">
                                        <div class="text-end">
                                            <a href="{% url 'account_reset_password' %}" class="text-muted"><i
                                                    class="mdi mdi-lock mr-1"></i> Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}


                                <div class="row">
                                    <button type="submit" class="btn custom_btn  text-white ">Login</button>
                                </div>

                            </form>
                            <hr>
                            <div class="row card p-2 mb-4 shadow">
                                <a href="{% provider_login_url 'google' %}" class="btn btn-white "><img
                                        src="{% static 'website/images/google.png' %}" style="height:25px">&nbsp;&nbsp;Login
                                    with Google
                                </a>
                            </div>

                         <div class="row card p-2 mb-4 shadow">
                                <a href="{% provider_login_url 'facebook' %}" class="btn btn-white "><img
                                        src="{% static 'website/images/Facebook_Logo_2023.png' %}" style="height:25px">&nbsp;&nbsp;Login
                                    with Facebook
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

