

{% extends 'website/base.html' %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block content %}

    <section class="login-page section-b-space">
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-5 card my-4">

                    <div class="theme-card">
                        <div class="p-2">
                            <h4 class="text-center mt-4">Change Password Form</h4>
                            {% include 'messages.html' %}
                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already
                                    been
                                    used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                                    .{% endblocktrans %}</p>
                            {% else %}

                                {% if form %}
                                    <form method="POST" action="{{ action_url }}">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <button type="submit" name="action" class="btn btn-warning text-white">Change Password</button>
                                    </form>
                                {% else %}
                                    <p>{% trans 'Your password is now changed.' %}</p>
                                {% endif %}
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
