{% extends 'website/base.html' %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block base_top_nav %}{% endblock %}


{% block content %}

    <section class="login-page section-b-space">
        <div class="container">
            <div class="row justify-content-center my-4">
                <div class="col-5 card my-4">
                    <div class="theme-card">
                        <div class="p-2">
                            <h4 class="text-center mt-4">Account Reset Form</h4>

                            <div class="btn-group my-4" role="group" style="border: 2px solid #e2e1e1"
                                 aria-label="Basic example">
                                <a href="{% url 'account_login' %}" type="button" class="btn btn-white">Login</a>
                                <a href="{% url 'account_signup' %}" class="btn custom_btn  text-white ">Signup</a>
                            </div>
                            <hr>
                            <div class="row card p-2 mb-4 shadow">
                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                                <p class="card-text">we have sent you an e-mail for verification. Follow the link
                                    provided to
                                    finalize the signup
                                    process. Please contact us if you do not receive it within a few minutes.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
