{% extends 'stripe/base.html' %}
{% load static %}

{% block title %}
    Payments Failed
{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <div>
            <img class="my-5" src="{% static 'cross.png' %}" height="100">
            <h3 class="mb-0">Wallet Error</h3>
            <p class="mb-2">{{ error }}</p>
            <p>Your payments are failed, you can go back to <a href="{% url 'accounts:cross-auth' %}">Dashboard</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}