{% extends 'stripe/base.html' %}
{% load static %}

{% block subtitle %}
    Subscriptions
{% endblock %}

{% block css %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

    <section>
        <form action="/create-checkout-session" method="POST">
            <input type="hidden" name="lookup_key" value="{{ PRICE_LOOKUP_KEY }}"/>
            <button id="checkout-and-portal-button" type="submit">Checkout</button>
        </form>
    </section>

{% endblock %}