six
Faker
pillow
markdown
python-dateutil
pdf2image
stripe

django
django-environ
django-filter
django-allauth==0.55.0
django-resized
python-decouple
django-ckeditor
django-crispy-forms
crispy-bootstrap5
django-tinymce
django-widget-tweaks
djangorestframework
django-browser-reload
stripe
django-jazzmin
dj-rest-auth
drf-yasg
django-phonenumber-field
phonenumbers