{% extends 'whisper/base.html' %}

{% block content %}

    <tr>
        <td style="padding: 10px 10px;color: #888;">
            Dear <b>{{ user }}</b>.
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 10px;">
            {{ description }}
        </td>
    </tr>
    <tr>
        <td style="padding: 10px 10px;">
            At <b>SeedsWild</b>, we are committed to providing you with valuable insights and recommendations tailored
            to your unique location, weather conditions, soil quality, and land characteristics. Our AI-powered tools
            are designed to help you make informed decisions and achieve the best results in your farming endeavors.
        </td>
    </tr>

    <tr>
        <td style="padding: 10px 10px;">
            For more information simply log in to your account and and visit subscription detail, if you have any questions or need assistance, our customer support team is here to help. Don't hesitate to
            reach out at <a href="mailto:support@seedswild.com">support@seedswild.com</a>.
        </td>
    </tr>

    <tr>
        <td style="padding: 10px 10px;">
            Thank you for choosing <a>SeedsWild</a> to assist you on your agricultural journey. We look forward to being
            a part of your success story.
        </td>
    </tr>

{% endblock %}