{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block seo %}
        <meta name="description" content="novel marketplace">
        <meta name="keywords" content="monogatari, novelsm marketplace, ecommerce">
        <meta name="author" content="exarth">
    {% endblock %}

    <link rel="icon" href="{% static 'website/logos/logo-light.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'website/logos/logo-light.png' %}" type="image/x-icon"/>

    {% block title %}
        <title>
            Monogatari |
            {% block subtitle %}
                Home
            {% endblock %}
        </title>
    {% endblock %}

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/vendors/font-awesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/vendors/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/vendors/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/vendors/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/vendors/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">


</head>

<body class="theme-color-1 dark">


<div class="loader_skeleton">

    <section class="pt-0 effect-cls">
        <div class="home-slider">
            <div class="home"></div>
        </div>
    </section>
    <section class="collection-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ldr-bg">
                        <div class="contain-banner">
                            <div>
                                <h4></h4>
                                <h2></h2>
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ldr-bg">
                        <div class="contain-banner">
                            <div>
                                <h4></h4>
                                <h2></h2>
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container section-b-space">
        <div class="row section-t-space">
            <div class="col-lg-6 offset-lg-3">
                <div class="product-para">
                    <p class="first"></p>
                    <p class="second"></p>
                </div>
            </div>
            <div class="col-12">
                <div class="no-slider center-detail five-product row">
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper"></div>
                        <div class="product-detail">
                            <h4></h4>
                            <h5></h5>
                            <h6></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'website/include/header.html' %}


{% block content %}

{% endblock %}


{% include 'website/include/footer.html' %}


<!-- tap to top -->
<div class="tap-top">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>
<!-- tap to top end -->


<!-- latest jquery-->
<script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>

<!-- fly cart ui jquery-->
<script src="{% static 'website/js/jquery-ui.min.js' %}"></script>

<!-- slick js-->
<script src="{% static 'website/js/slick.js' %}"></script>

<!-- menu js-->
<script src="{% static 'website/js/menu.js' %}"></script>

<!-- lazyload js-->
<script src="{% static 'website/js/lazysizes.min.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>

<!-- Bootstrap Notification js-->
<script src="{% static 'website/js/bootstrap-notify.min.js' %}"></script>

<!-- Fly cart js-->
<script src="{% static 'website/js/fly-cart.js' %}"></script>

<!-- Timer js-->
<!-- Theme js-->
<script src="{% static 'website/js/theme-setting.js' %}"></script>
<script src="{% static 'website/js/script.js' %}"></script>
{% include 'website/messages.html' %}



</body>/
</html>