{% extends  'website/base.html' %}
{% load static %}
{% block content %}
    <section class="vendor_section sec_space_small aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="vendor_image">
                <img src="{% static 'website/images/backgrounds/banner.webp' %}" style="width: 12000px;"
                     alt="image_not_found">
            </div>
            <h2 class="title_text">
                Rajasthan Dryfruit House: A Legacy of Premium Quality Dry Fruits
            </h2>

            <p class="mb-0">
                Welcome to Rajasthan Dryfruit House, where tradition meets taste in every bite. With over 50 years of
                expertise in the industry, we have been committed to bringing you the finest quality dry fruits and
                mouth fresheners that tantalize your taste buds and elevate your snacking experience.</p>
            <p>
                Since our inception, we have remained dedicated to sourcing only the highest quality ingredients,
                ensuring that each product delivers exceptional flavor and freshness with every bite. Our journey began
                with a passion for delivering premium quality snacks to our customers, and over the decades, that
                dedication has only strengthened.</p>

            <p>At Rajasthan Dryfruit House, we understand the importance of maintaining the rich traditions of our
                craft while also embracing innovation to meet the evolving tastes of our customers. Every product that
                bears our name is a testament to our unwavering commitment to excellence and customer satisfaction.</p>

            <p>From the finest almonds to the most aromatic spices, each ingredient is carefully selected and expertly
                blended to create a symphony of flavors that will leave you craving more. Whether you're indulging in
                our decadent dry fruits or refreshing your palate with our mouth fresheners, you can trust that you're
                experiencing the best that nature has to offer.</p>

            <p>As a family-owned business, we take pride in our heritage and the relationships we've built with our
                customers over the years. When you choose Rajasthan Dryfruit House, you're not just purchasing
                snacks—you're joining a community of discerning individuals who share a passion for quality and
                flavor.</p>
            <p>
                Thank you for choosing Rajasthan Dryfruit House. We look forward to serving you for generations to come.
            </p>
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-sm-6">
                    <div class="vendor_service_item ">
                        <div class="item_icon"
                             style="background-image: url('{% static 'website/images/services/service18.png' %}');">
                            <img src="{% static 'website/images/services/service19.png' %}" alt="image_not_found">
                        </div>
                        <div class="item_content">
                            <h3 class="item_title">Premium Quality</h3>
                            <p class="mb-0">
                                "Experience top-quality, fresh dry fruits sourced from the best farms, ensuring
                                nutritious and delicious snacks for all occasions."

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-3 col-md-6 col-sm-6">
                    <div class="vendor_service_item ">
                        <div class="item_icon"
                             style="background-image: url('{% static 'website/images/services/service18.png' %}');">
                            <img src="{% static 'website/images/services/service20.png' %}" alt="image_not_found">
                        </div>
                        <div class="item_content">
                            <h3 class="item_title">Health Benefits</h3>
                            <p class="mb-0">
                                "Boost your energy, heart health, and immunity with our dry fruits, rich in essential
                                vitamins, minerals, and antioxidants."

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-3 col-md-6 col-sm-6">
                    <div class="vendor_service_item" >
                        <div class="item_icon"
                             style="background-image: url('{% static 'website/images/services/service18.png' %}');">
                            <img src="{% static 'website/images/services/service21.png' %}" alt="image_not_found">
                        </div>
                        <div class="item_content">
                            <h3 class="item_title">Variety and Flavors</h3>
                            <p class="mb-0">
                                "Explore our diverse range of almonds, cashews, walnuts, pistachios, and more, available
                                in raw, roasted, salted, and flavored options."

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-3 col-md-6 col-sm-6">
                    <div class="vendor_service_item">
                        <div class="item_icon"
                             style="background-image: url('{% static 'website/images/services/service18.png' %}');">
                            <img src="{% static 'website/images/services/service22.png' %}" alt="image_not_found">
                        </div>
                        <div class="item_content">
                            <h3 class="item_title">Perfect for On-the-Go</h3>
                            <p class="mb-0">
                                "Enjoy our dry fruits in convenient, resealable packs that are perfect for snacking
                                on-the-go, whether at work, school, or during travel."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="team_inner_content mb-4">
        <div class="container">
            <h2 class="title_text text-center">
                Our Team Members Detail
            </h2>
            <div class="card-group justify-content-center align-items-center">

                <div class="team_content_wrap position-relative col-md-10 col-lg-8 col-xl-12 m-auto">
                    <div class="row g-4">
                        {% if team %}
                            {% for object in team %}
                                <div class="col-sm-6 col-md-6 col-xl-3">
                                    <div class="card team_content text-center ">
                                        <img class="rounded-pill" src="{{ object.image.url }}" alt="team3">
                                        <div class="card-body team_author_content">
                                            <h4 class="card-text team_author_post mb-2">{{ object.name }}</h4>
                                            <h3 class="card-text team_author_post mb-2 text-warning">{{ object.rank }}</h3>
                                            <div class="team_author_social_link d-flex justify-content-center justify-content-around align-items-center">
                                                <a class="text-warning social_twitt" href="
















                                                        {% if object.twitter_link %}{{ object.twitter_link }}{% else %}javascript:void(0){% endif %}">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a class="text-warning social_twitt" href="
















                                                        {% if object.facebook_link %}{{ object.twitter_link }}{% else %}javascript:void(0){% endif %}">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="text-warning social_twitt" href="
















                                                        {% if object.linkedin_link %}{{ object.twitter_link }}{% else %}javascript:void(0){% endif %}">
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                                <a class="text-warning social_twitt" href="
















                                                        {% if object.instagram_link %}{{ object.twitter_link }}{% else %}javascript:void(0){% endif %}">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                                <a class="text-warning social_twitt" href="
















                                                        {% if object.youtube_link %}{{ object.twitter_link }}{% else %}javascript:void(0){% endif %}">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <span class="text-danger">Teams Are Not Added Yet</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="work_process_section sec_space_small pb-0"
             style="background-image: url('{% static 'website/images/backgrounds/bg10.png' %}')">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-5">
                    <div class="section_title text-center">
                        <h2 class="title_text mb-0">
                            Why Choose Our Premium Dry Fruits?
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                    <div class="work_process_item"
                         style="background-image: url('{% static 'website/images/vendor/vendor_bg_1.png' %}');">
                        <div class="item_icon">1</div>
                        <h3 class="item_title">
                            Exceptional Quality and Freshness
                        </h3>
                        <p class="mb-0">
                            "Indulge in the finest dry fruits, meticulously sourced for unmatched quality and guaranteed
                            freshness in every bite."
                        </p>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="work_process_item"
                         style="background-image: url('{% static 'website/images/vendor/vendor_bg_2.png' %}');">
                        <div class="item_icon">2</div>
                        <h3 class="item_title">
                            Nutrient-Rich and Healthy </h3>
                        <p class="mb-0">
                            "Benefit from a natural source of essential vitamins, minerals, and antioxidants, promoting
                            energy, heart health, and overall well-being." </p>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="work_process_item"
                         style="background-image: url('{% static 'website/images/vendor/vendor_bg_3.png' %}');">
                        <div class="item_icon">3</div>
                        <h3 class="item_title">
                            Wide Selection for Every Taste </h3>
                        <p class="mb-0">
                            "Explore a diverse range of flavours and varieties, including almonds, cashews, walnuts, and
                            pistachios, perfect for every palate and occasion."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}