{% extends  'website/base.html' %}
{% load static %}
{% block content %}
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid #b5b5b5;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            text-align: left;
        }
    </style>
    <section class="aos-init aos-animate mb-0 p-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class=" table-responsive position-relative">
                <h4>Cart Items</h4>
            </div>
        </div>
    </section>

    <section class=" clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-8" style="overflow-y: hidden">
                    <div class="card cart_table " data-aos="fade-up" data-aos-duration="2000">
                        <form action="#">
                            <div class="form_wrap">
                                <div class="checkout_table table-responsive">
                                    <table class="table text-center mb-0">
                                        <thead class="text-uppercase text-uppercase">
                                        <tr class="mt-4 mb-4">
                                            <th>Item</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for object in '1234' %}
                                            <tr>
                                                <td>
                                                    <div class="cart_product position-relative">
                                                        <div>
                                                            <img style="height: 80px"
                                                                 src="{% static 'website/images/cart/cart2.png' %}"
                                                                 alt="image_not_found">
                                                        </div>
                                                        <button type="button" class="remove_btn position-absolute">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="item_content">
                                                        <a href="shop-list.html">
                                                            <h4 class="item_title">Curated Products</h4>
                                                        </a>
                                                        <span class="item_type">Shop groceries</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <del class="price_text">$69.00</del>
                                                    <br>
                                                    <span class="price_text">$69.00</span>
                                                </td>
                                                <td>
                                                    <div class="quantity_input">
                                                        <form action="#">
                                                            <span class="input_number_decrement">–</span>
                                                            <input class="input_number" value="1">
                                                            <span class="input_number_increment">+</span>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card p-3" data-aos="fade-up" data-aos-duration="2000">
                                <h5>COUPON</h5>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="ENTER COUPON CODE" id="coupan" name="coupan">
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn custom_btn mt-4">Apply</button>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="col-12 mt-4">
                            <div class="card widget-card border-light shadow-sm">
                                <div class="card-body p-4">
                                    <h5 class="card-title widget-card-title mb-4">SUMMARY</h5>
                                    <div class="table-responsive">
                                        <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">Subtotal</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">23</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">Discount</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">23</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">Delivery Charges</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">34</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div><hr>
                                    <div class="table-responsive">
                                        <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                                            <tbody>
                                            <tr>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <p class="mb-1">Delivery Charges</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">34</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                                <button class="btn custom_btn btn-lg mt-4">Continue To Checkout -323 $</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}