{% extends  'website/base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid #b5b5b5;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            text-align: left;
        }
    </style>
    <section class="aos-init aos-animate mb-0 p-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class=" table-responsive position-relative">
                <h4>Cart Items</h4>
            </div>
        </div>
    </section>

    <section class=" clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container-lg">
            <div class="row mb-4">
                <div class="col-lg-8" style="overflow-y: hidden">
                    <div class="card " data-aos="fade-up" data-aos-duration="2000">
                        <form action="#">
                            <table class="table table-responsive p-0 mb-0">
                                <thead>
                                <tr>
                                    <th scope="col" style="padding: 30px">Items</th>
                                    <th scope="col" style="padding: 30px">Description</th>
                                    <th scope="col" style="padding: 30px">Price</th>
                                    <th scope="col" style="padding: 30px">Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in cart %}
                                    <tr>
                                        <th scope="row" style="padding: 30px"><img
                                                src="{{ object.product.thumbnail_image|image_or_placeholder }}"
                                                style="height: 100px" class="rounded  float-left" alt="...">
                                        </th>
                                        <td style="padding: 30px">
                                            <h4>{{ object.product.title }}</h4>
                                            {% if object.product_weight %}
                                                <p><span>SIZE : </span><b>{{ object.product_weight.weight }}</b>
                                                </p>{% endif %}
                                        </td>
                                        <td style="padding: 30px">
                                            <del class="text-secondary">{% if object.product_weight %}
                                                {{ object.product_weight.price }}{% else %}
                                                {{ object.product.price }}{% endif %}</del>
                                            <br>
                                            <span>{% if object.product_weight %}
                                                {{ object.product_weight.get_product_weight_discounted_price }}{% else %}
                                                {{ object.product.get_price }}{% endif %}</span>
                                        </td>
                                        <td style="padding: 30px">
                                            <select class="form-select quantitySelect"
                                                    id="quantitySelect{{ object.id }}" style="border:1px solid black"
                                                    aria-label="Default select example">

                                                aria-label="Default select example">
                                                <option selected>&nbsp;&nbsp;&nbsp;{{ object.quantity }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                {% for obj in '123456789' %}
                                                    <option data-object-id="{{ object.id }}" id="cart-quantity"
                                                            value="{{ forloop.counter }}">
                                                        &nbsp;&nbsp;&nbsp;{{ forloop.counter }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </option>
                                                {% endfor %}

                                            </select>
                                            <br><br><br>
                                            <a href="{% url 'website:remove-cart' object.id %}"
                                               class="text-decoration-none link-secondary">
                                                <small>
                                                    <i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;
                                                    Remove
                                                </small>
                                            </a><br>
                                            <a href="{% url 'website:wishlist-add' object.product.id %}"
                                               class="link-secondary">
                                                <small>
                                                    <i class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;
                                                    Add to Wishlist
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card p-3" data-aos="fade-up" data-aos-duration="2000">
                                <h5>COUPON</h5>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="ENTER COUPON CODE" id="coupan" name="coupan">
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn custom_btn mt-4">Apply</button>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="col-12 mt-4">
                            <div class="card widget-card border-light shadow-sm">
                                <div class="card-body p-4">
                                    <h5 class="card-title widget-card-title mb-4">SUMMARY</h5>
                                    <div class="table-responsive">
                                        <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">Total Price</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">{{ total_amount|floatformat:"2" }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">Discount Price</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">{{ discount_amount|floatformat:"2" }}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="mb-1">Shipping Charges</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">{{ sipping_charges|floatformat:"2" }}</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                                            <tbody>
                                            <tr>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <p class="mb-1">Sub Total</p>
                                                </td>
                                                <td>
                                                    <p class="mb-1">{{ sub_total|floatformat:"2" }}</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <a href="{% url 'website:order' %}" class="btn custom_btn  mt-4">Continue To Checkout -{{ sub_total|floatformat:"2" }}</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        // Add event listener to handle select element changes dynamically
        document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.querySelector('.quantitySelect');console.log(selectElement)
        selectElement.addEventListener('change', function(event) {
            var objectId = this.options[this.selectedIndex].getAttribute('data-object-id');
            var quantity = this.value;

            // Redirect to update cart page
            window.location = `/increment/cart/item/${objectId}/${quantity}/`;
        });
    });
    </script>
{% endblock content %}