{% extends  'website/base.html' %}
{% load static %}
{% block content %}

    <section class=" position-relative aos-init mt-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="comment_area_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 ">
                        <h3 class="comment_area_title mt-3 mb-5">Investment Breakdown in Inr</h3>
                        <div class="card">
                            <div class="card-body p-4">
                                <div>
                                    <p class="float-end"><b>3 Lakh + GST</b></p>
                                    <p><b>Franchise Free</b></p>
                                </div>
                                <hr>

                                <div>
                                    <p class="float-end"><b>1.5 Lakh</b></p>
                                    <p><b>Equipment</b></p>
                                </div>
                                <hr>
                                <div>
                                    <p class="float-end"><b>2 Lakh</b></p>
                                    <p><b>Interior Cost</b></p>
                                </div>
                                <hr>
                                <div>
                                    <p class="float-end"><b>50 Thousand</b></p>
                                    <p><b>Misc</b></p>
                                </div>
                                <hr>
                                <div>
                                    <p class="float-end"><b>7-8 Approx</b></p>
                                    <p><b>Total</b></p>
                                </div>
                                <hr>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <h3 class="comment_area_title mt-3 mb-5">Franchise Form</h3>
                        <div class="card">
                            <div class="card-body p-4">
                                <form>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp" >

                                        </div>

                                    </div>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp" >

                                        </div>

                                    </div>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phone Number</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp" >
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp" >

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="address_sec sec_space_small aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="address_sec_wrap">
            <div class="container-sm">
                <div class="row g-5 justify-content-center align-items-center">
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="address_sec_cont d-flex flex-column position-relative aos-init aos-animate"
                             data-aos="fade-right" data-aos-duration="2000">
                            <div class="address_author bg-white position-absolute">
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <div class="trend_sub_title d-flex align-items-center justify-content-center pb-2">
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <span class="text-uppercase px-3">GET TO KNOW</span>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                            </div>
                            <h4 class="address_title">About Organi</h4>
                            <p class="address_desc">We are a strong community of 100,000+ customers and 600+
                                sellers who aspire to be good</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="address_sec_cont d-flex flex-column position-relative aos-init aos-animate"
                             data-aos="fade-up" data-aos-duration="2000">
                            <div class="address_author bg-white position-absolute">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="trend_sub_title d-flex align-items-center justify-content-center pb-2">
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <span class="text-uppercase px-3">visit us</span>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                            </div>
                            <h4 class="address_title">Our Address</h4>
                            <p class="address_desc">855 Road Broklyn Street, 600 New York, USA</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="address_sec_cont d-flex flex-column position-relative aos-init aos-animate"
                             data-aos="fade-left" data-aos-duration="2000">
                            <div class="address_author2 bg-white position-absolute">
                                <i class="fas fa-phone-volume"></i>
                            </div>
                            <div class="address_author3 bg-white position-absolute">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="trend_sub_title d-flex align-items-center justify-content-center pb-2">
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <span class="text-uppercase px-3">Call or write</span>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                                <i class="far fa-circle"></i>
                            </div>
                            <h4 class="address_title">Phone &amp; Email</h4>
                            <p class="address_desc">222 555 999 needhelp@organi.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}