{% extends  'website/base.html' %}
{% load static %}
{% block content %}

    <section class=" position-relative aos-init mt-4 m-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="comment_area_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 ">
                        <h3 class="comment_area_title mt-3 mb-5">Investment Breakdown in Inr</h3>
                        <div class="card">
                            <div class="card-body p-4">
                                <div>
                                    <p class="float-end"><b>3 Lakh + GST</b></p>
                                    <p><b>Franchise Free</b></p>
                                </div>
                                <hr>

                                <div>
                                    <p class="float-end"><b>1.5 Lakh</b></p>
                                    <p><b>Equipment</b></p>
                                </div>
                                <hr>
                                <div>
                                    <p class="float-end"><b>2 Lakh</b></p>
                                    <p><b>Interior Cost</b></p>
                                </div>
                                <hr>
                                <div>
                                    <p class="float-end"><b>50 Thousand</b></p>
                                    <p><b>Misc</b></p>
                                </div>
                                <hr>
                                <div>
                                    <p class="float-end"><b>7-8 Approx</b></p>
                                    <p><b>Total</b></p>
                                </div>
                                <hr>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <h3 class="comment_area_title mt-3 mb-5">Franchise Form</h3>
                        <div class="card">
                            <div class="card-body p-4">
                                <form>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp">

                                        </div>

                                    </div>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp">

                                        </div>

                                    </div>
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Phone Number</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp">
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp">

                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="btn custom_btn rounded-pill py-3 text-white text-uppercase">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock content %}