{% extends  'website/base.html' %}
{% load static %}

{% block content %}

    <!-- sidebar section end -->

    <!-- banner section start -->
    <section class="banner_section_main position-relative">
        <div class="banner_section_item sec_space_xxxlarge d-flex justify-content-center align-items-center"
        >
            <div class="container">
                <div class="row text-center">
                    <div class="col banner_content">
                        <div class="banner_sub_title position-relative">
                            <h6 class="position-absolute text-white text-uppercase">100% Organic Dry Fruits</h6>
                            <img class="sub_title_bg" src="{% static 'website/images/shapes/shape2.png' %}"
                                 alt="image_not_found">
                        </div>
                        <div class="banner_title m-auto">
                            <h1 class="text-white">Organic <font class="first text-white">Dry Fruits & Foods</font> You
                                Cook<font class="text-white">
                                    <span>H</span><span>e</span><span>a</span><span>l</span><span>t</span><span>h</span><span>y</span>
                                </font>
                            </h1>
                        </div>
                        <div class="banner_search_bar d-inline-block position-relative">
                            <button style="border-radius: 20px" class="btn btn-warning btn-lg text-white">Shop Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner side image start -->
        <img class="banner_right_thumb img_moving_anim1 position-absolute"
             src="{% static 'website/images/banner/banner3.png' %}"
             alt="image_not_found">
        <img class="banner_left_thumb img_moving_anim2 position-absolute"
             src="{% static 'website/images/banner/banner4.png' %}"
             alt="image_not_found">
        <!-- banner side image end -->
    </section>
    <!-- banner section end -->



    <!-- category section start -->
    <section class="category_section sec_ptb_100 position-relative overflow-hidden clearfix" data-aos="fade-up"
             data-aos-duration="2000">
        <div class="container">
            <div class="row">
                <div class="category_top_content d-flex justify-content-between">
                    <div class="category_top_content_text">
                        <div class="category_sub_title d-flex align-items-center">
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <span class="ps-2">FRESH FROM OUR FARM</span>
                        </div>
                        <div class="category_title pb-3">
                            <h2>Popular Categories</h2>
                        </div>
                    </div>
                    <div class="category_top_btn_cont d-flex">
                        <button type="button" class="ss1_left_arrow rounded-pill me-2"><i
                                class="fas fa-arrow-left"></i></button>
                        <button type="button" class="ss1_right_arrow rounded-pill"><i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div
                        class="category_slick slideshow1_slider clearfix d-flex justify-content-center align-items-center justify-content-between px-0"
                        data-slick='{"dots": false}'>
                    {% for object in '12345' %}
                        <div class="col item_content slider_item text-center" style="position:relative;"
                             data-aos="fade-up"
                             data-aos-duration="300">
                            <a href="shop-list.html" target="_blank">
                                <img style="height: 80px;margin-bottom: -45px;z-index: 1000"
                                     src="{% static 'website/images/logo/logo.png' %}"
                                     alt="image_not_found"></a>
                            <div class="card"
                                 style="border-radius: 20px;background-color: #d5c999;position: relative">

                                <div class="card-image" style="padding: 30px">
                                    <h3 class="m-4" style="color: #6a4723;margin-bottom: 20px;">Exclusive</h3>

                                    <img class="mb-4" src="{% static 'website/images/category/cat1.png' %}"
                                         alt="Healthy Nut and Dried Fruit Combo Pack">

                                </div>

                            </div>
                            <a href="shop-list.html" target="_blank">
                                <img style="height: 80px;margin-top: -45px;"
                                     src="{% static 'website/images/logo/logo.png' %}"
                                     alt="image_not_found"></a>

                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!-- category section end -->

    <!-- product section start -->
    <section class="product_section sec_space_xxs_50" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="product_sec_content">
                        <div class="product_sec_sub_title d-flex align-items-center pb-2">
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <span class="ps-2">FRESH FROM OUR FARM</span>
                        </div>
                        <h2 class="product_sec_title pb-3">Our Organic Products</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="product_tabnav_1 nav nav-pills ul_li_right mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill me-1 active" id="pills-all-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all"
                                    aria-selected="true">All
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link rounded-pill me-1" id="pills-vegetables-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-vegetables" type="button" role="tab"
                                    aria-controls="pills-vegetables" aria-selected="false">Vegetables
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                    <div class="row g-4">
                        {% for object in '12345678' %}
                            <div class="col-sm-6 col-md-6 col-xl-3">
                                <div class="product_layout_1 overflow-hidden position-relative">
                                    <div class="product_layout_content bg-white position-relative">
                                        <div class="product_image_wrap">
                                            <a class="product_image d-flex justify-content-center align-items-center"
                                               href="shop-list.html" target="_blank">
                                                <img class="pic-1"
                                                     src="{% static 'website/images/product/product1.png' %}"
                                                     alt="image_not_found">
                                                <img class="pic-2"
                                                     src="{% static 'website/images/product/product2.png' %}"
                                                     alt="image_not_found">
                                            </a>
                                            <ul class="product_badge_group ul_li_block">
                                                <li><span
                                                        class="product_badge badge_meats position-absolute rounded-pill text-uppercase">Meats</span>
                                                </li>
                                                <li><span
                                                        class="product_badge badge_discount position-absolute rounded-pill">-27%</span>
                                                </li>
                                            </ul>
                                            <ul class="product_action_btns ul_li_block d-flex">
                                                <li><a class="tooltips" data-placement="top" title="Search Product"
                                                       href="#!"><i
                                                        class="fas fa-search"></i></a></li>
                                                <li><a class="tooltips" data-placement="top" title="Add To Cart"
                                                       href="#product_quick_view" data-bs-toggle="modal"><i
                                                        class="fas fa-shopping-bag"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="rating_wrap d-flex">
                                            <ul class="rating_star ul_li">
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li><i class="far fa-star"></i></li>
                                            </ul>
                                            <span class="shop_review_text">( 4.0 )</span>
                                        </div>
                                        <div class="product_content">
                                            <h3 class="product_title">
                                                <a href="shop-list.html" target="_blank">Organic Cabbage</a>
                                            </h3>
                                            <div class="product_price">
                                                <span class="sale_price pe-1">$50.00</span>
                                                <del>$65.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-vegetables" role="tabpanel"
                     aria-labelledby="pills-vegetables-tab">
                    <div class="row g-4">
                        {% for object in '12345678' %}
                            <div class="col-sm-6 col-md-6 col-xl-3">
                                <div class="product_layout_1 overflow-hidden position-relative">
                                    <div class="product_layout_content bg-white position-relative">
                                        <div class="product_image_wrap">
                                            <a class="product_image d-flex justify-content-center align-items-center"
                                               href="shop-list.html" target="_blank">
                                                <img class="pic-1"
                                                     src="{% static 'website/images/product/product1.png' %}"
                                                     alt="image_not_found">
                                                <img class="pic-2"
                                                     src="{% static 'website/images/product/product2.png' %}"
                                                     alt="image_not_found">
                                            </a>
                                            <ul class="product_badge_group ul_li_block">
                                                <li><span
                                                        class="product_badge badge_meats position-absolute rounded-pill text-uppercase">Meats</span>
                                                </li>
                                                <li><span
                                                        class="product_badge badge_discount position-absolute rounded-pill">-27%</span>
                                                </li>
                                            </ul>
                                            <ul class="product_action_btns ul_li_block d-flex">
                                                <li><a class="tooltips" data-placement="top" title="Search Product"
                                                       href="#!"><i
                                                        class="fas fa-search"></i></a></li>
                                                <li><a class="tooltips" data-placement="top" title="Add To Cart"
                                                       href="#product_quick_view" data-bs-toggle="modal"><i
                                                        class="fas fa-shopping-bag"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="rating_wrap d-flex">
                                            <ul class="rating_star ul_li">
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li class="active"><i class="fas fa-star"></i></li>
                                                <li><i class="far fa-star"></i></li>
                                            </ul>
                                            <span class="shop_review_text">( 4.0 )</span>
                                        </div>
                                        <div class="product_content">
                                            <h3 class="product_title">
                                                <a href="shop-list.html" target="_blank">Organic Cabbage</a>
                                            </h3>
                                            <div class="product_price">
                                                <span class="sale_price pe-1">$50.00</span>
                                                <del>$65.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product section start -->

    <section class="deal_section sec_space_xs_70 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 col-lg-4">
                    <div class="deal_item_content_wrap">
                        <div class="deal_item_content position-relative aos-init aos-animate"
                             style="background-image: url('{% static 'website/images/deals/deals1.png' %}');"
                             data-aos="flip-right" data-aos-duration="1000">
                            <div class="deal_item_txt position-absolute">
                                <div class="deal_title aos-init aos-animate" data-aos="flip-left"
                                     data-aos-duration="1000">
                                    <h3>Get Every Vegetable You Need</h3>
                                </div>
                                <div class="deal_btn">
                                    <a href="shop-list.html" target="_blank">
                                        <button type="button" class="btn">SHOP NOW <span><i
                                                class="fas fa-long-arrow-alt-right"></i></span></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="deal_item_content_wrap">
                        <div class="deal_item_content position-relative aos-init aos-animate"
                             style="background-image: url('{% static 'website/images/deals/deals2.png' %}');"
                             data-aos="flip-right" data-aos-duration="1500">
                            <div class="deal_item_txt position-absolute">
                                <div class="deal_sub_title">
                                    <h5>FRESH FROM OUR FARM</h5>
                                </div>
                                <div class="deal_title aos-init aos-animate" data-aos="flip-left"
                                     data-aos-duration="1500">
                                    <h3>Get Every 30% Vegetable You Need</h3>
                                </div>
                                <div class="deal_btn">
                                    <a href="shop-list.html" target="_blank">
                                        <button type="button" class="btn">SHOP NOW <span><i
                                                class="fas fa-long-arrow-alt-right"></i></span></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="deal_item_content_wrap">
                        <div class="deal_item_content position-relative aos-init aos-animate"
                             style="background-image: url('{% static 'website/images/deals/deals3.png' %}');"
                             data-aos="flip-right" data-aos-duration="2000">
                            <div class="deal_item_txt position-absolute">
                                <div class="deal_title aos-init aos-animate" data-aos="flip-left"
                                     data-aos-duration="2000">
                                    <h3>First Deal Vegetable You Need</h3>
                                </div>
                                <div class="deal_btn">
                                    <a href="shop-list.html" target="_blank">
                                        <button type="button" class="btn">SHOP NOW <span><i
                                                class="fas fa-long-arrow-alt-right"></i></span></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>>

    <section class="product_section sec_space_xxs_50 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product_sec_content">
                        <div class="product_sec_sub_title d-flex align-items-center pb-2">
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <span class="ps-2">FRESH FROM OUR FARM</span>
                        </div>
                        <h2 class="product_sec_title pb-3">Popular Organic Discount</h2>
                    </div>
                </div>
                <div class="col-lg-6 ul_li_right">
                    <ul class="countdown_timer ul_li" data-countdown="2023/3/24">
                        <li class="days_count"><strong>00</strong><span>Days</span></li>
                        <li class="hours_count"><strong>00</strong><span>Hours</span></li>
                        <li class="minutes_count"><strong>00</strong><span>Mins</span></li>
                        <li class="seconds_count"><strong>00</strong><span>Secs</span></li>
                    </ul>
                </div>
            </div>

            <div class="row g-4">
                {% for object in "1234" %}
                    <div class="col-sm-6 col-md-6 col-xl-3">
                        <div class="product_layout_1 overflow-hidden position-relative">
                            <div class="product_layout_content bg-white position-relative">
                                <div class="product_image_wrap">
                                    <a class="product_image d-flex justify-content-center align-items-center"
                                       href="shop-list.html" target="_blank">
                                        <img class="pic-1" src="{% static 'website/images/product/product8.png' %}"
                                             alt="image_not_found">
                                        <img class="pic-2" src="{% static 'website/images/product/product8.png' %}"
                                             alt="image_not_found">
                                    </a>
                                    <ul class="product_badge_group ul_li_block">
                                        <li><span
                                                class="product_badge badge_meats position-absolute rounded-pill text-uppercase">Meats</span>
                                        </li>
                                        <li><span
                                                class="product_badge badge_discount position-absolute rounded-pill">-27%</span>
                                        </li>
                                    </ul>
                                    <ul class="product_action_btns ul_li_block d-flex">
                                        <li><a class="tooltips" data-placement="top" title="Search Product" href="#!"><i
                                                class="fas fa-search"></i></a></li>
                                        <li><a class="tooltips" data-placement="top" title="Add To Cart"
                                               href="#product_quick_view" data-bs-toggle="modal"><i
                                                class="fas fa-shopping-bag"></i></a></li>
                                    </ul>
                                </div>
                                <div class="rating_wrap d-flex">
                                    <ul class="rating_star ul_li">
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <span class="shop_review_text">( 4.0 )</span>
                                </div>
                                <div class="product_content">
                                    <h3 class="product_title">
                                        <a href="shop-list.html" target="_blank">Organic Cabbage</a>
                                    </h3>
                                    <div class="product_price">
                                        <span class="sale_price pe-1">$50.00</span>
                                        <del>$65.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="product_section sec_space_xxs_50 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product_sec_content">
                        <div class="product_sec_sub_title d-flex align-items-center pb-2">
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <span class="ps-2">FRESH FROM OUR FARM</span>
                        </div>
                        <h2 class="product_sec_title pb-3">Popular Organic Discount</h2>
                    </div>
                </div>
                <div class="col-lg-6 ul_li_right">
                    <ul class="countdown_timer ul_li" data-countdown="2023/3/24">
                        <li class="days_count"><strong>00</strong><span>Days</span></li>
                        <li class="hours_count"><strong>00</strong><span>Hours</span></li>
                        <li class="minutes_count"><strong>00</strong><span>Mins</span></li>
                        <li class="seconds_count"><strong>00</strong><span>Secs</span></li>
                    </ul>
                </div>
            </div>

            <div class="row g-4">
                {% for object in "12345678" %}
                    <div class="col-sm-6 col-md-6 col-xl-3">
                        <div class="product_layout_1 overflow-hidden position-relative">
                            <div class="product_layout_content bg-white position-relative">
                                <div class="product_image_wrap">
                                    <a class="product_image d-flex justify-content-center align-items-center"
                                       href="shop-list.html" target="_blank">
                                        <img class="pic-1" src="{% static 'website/images/product/product8.png' %}"
                                             alt="image_not_found">
                                        <img class="pic-2" src="{% static 'website/images/product/product8.png' %}"
                                             alt="image_not_found">
                                    </a>
                                    <ul class="product_badge_group ul_li_block">
                                        <li><span
                                                class="product_badge badge_meats position-absolute rounded-pill text-uppercase">Meats</span>
                                        </li>
                                        <li><span
                                                class="product_badge badge_discount position-absolute rounded-pill">-27%</span>
                                        </li>
                                    </ul>
                                    <ul class="product_action_btns ul_li_block d-flex">
                                        <li><a class="tooltips" data-placement="top" title="Search Product" href="#!"><i
                                                class="fas fa-search"></i></a></li>
                                        <li><a class="tooltips" data-placement="top" title="Add To Cart"
                                               href="#product_quick_view" data-bs-toggle="modal"><i
                                                class="fas fa-shopping-bag"></i></a></li>
                                    </ul>
                                </div>
                                <div class="rating_wrap d-flex">
                                    <ul class="rating_star ul_li">
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <span class="shop_review_text">( 4.0 )</span>
                                </div>
                                <div class="product_content">
                                    <h3 class="product_title">
                                        <a href="shop-list.html" target="_blank">Organic Cabbage</a>
                                    </h3>
                                    <div class="product_price">
                                        <span class="sale_price pe-1">$50.00</span>
                                        <del>$65.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="testimonial_section sec_bottom_space_70 position-relative aos-init aos-animate" data-aos="fade-up"
             data-aos-duration="2000">
        <div class="testimonial_sec_content sec_space_xxs_50"
             style="background-image: url('{% static 'website/images/testimonials/testimonial1.png' %}')">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="slider_item_content slideshow3_slider slick-initialized slick-slider"
                             data-slick="{&quot;dots&quot;: false}">
                            <div class="slick-list draggable">
                                <div class="slick-track"
                                     style="opacity: 1; width: 6450px; transform: translate3d(-2580px, 0px, 0px);">
                                    <div class="slider_item slick-slide slick-cloned" data-slick-index="-1" id=""
                                         aria-hidden="true" tabindex="-1" style="width: 1290px;">
                                        <div class="testimonial_layout_1 d-flex justify-content-center align-items-center">
                                            <div class="testimonial_author">
                                                <img src="{% static 'website/images/testimonials/testimonial2.png' %}"
                                                     alt="image_not_found">
                                            </div>
                                            <div class="testimonial_text">
                                                <div class="testimonial_comment_text">
                                                    <h3>Check what our users are saying.</h3>
                                                </div>
                                                <div class="testimonial_comment py-3">
                                                    <p>This is due to their excellent service, competitive pricing and
                                                        customer
                                                        support. It’s throughly refresing to get such a personal
                                                        touch.</p>
                                                </div>
                                                <div class="testimonial_author_title">
                                                    <a href="vendor.html" tabindex="-1"><h6>Jesscia Brown</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider_item slick-slide" data-slick-index="0" aria-hidden="true"
                                         tabindex="-1" style="width: 1290px;">
                                        <div class="testimonial_layout_1 d-flex justify-content-center align-items-center">
                                            <div class="testimonial_author">
                                                <img src="{% static 'website/images/testimonials/testimonial2.png' %}"
                                                     alt="image_not_found">
                                            </div>
                                            <div class="testimonial_text">
                                                <div class="testimonial_comment_text">
                                                    <h3>Check what our users are saying.</h3>
                                                </div>
                                                <div class="testimonial_comment py-3">
                                                    <p>This is due to their excellent service, competitive pricing and
                                                        customer
                                                        support. It’s throughly refresing to get such a personal
                                                        touch.</p>
                                                </div>
                                                <div class="testimonial_author_title">
                                                    <a href="vendor.html" tabindex="-1"><h6>Jesscia Brown</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider_item slick-slide slick-current slick-active" data-slick-index="1"
                                         aria-hidden="false" tabindex="0" style="width: 1290px;">
                                        <div class="testimonial_layout_1 d-flex justify-content-center align-items-center">
                                            <div class="testimonial_author">
                                                <img src="{% static 'website/images/testimonials/testimonial2.png' %}"
                                                     alt="image_not_found">
                                            </div>
                                            <div class="testimonial_text">
                                                <div class="testimonial_comment_text">
                                                    <h3>Check what our users are saying.</h3>
                                                </div>
                                                <div class="testimonial_comment py-3">
                                                    <p>This is due to their excellent service, competitive pricing and
                                                        customer
                                                        support. It’s throughly refresing to get such a personal
                                                        touch.</p>
                                                </div>
                                                <div class="testimonial_author_title">
                                                    <a href="vendor.html" tabindex="0"><h6>Jesscia Brown</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider_item slick-slide slick-cloned" data-slick-index="2" id=""
                                         aria-hidden="true" tabindex="-1" style="width: 1290px;">
                                        <div class="testimonial_layout_1 d-flex justify-content-center align-items-center">
                                            <div class="testimonial_author">
                                                <img src="{% static 'website/images/testimonials/testimonial2.png' %}"
                                                     alt="image_not_found">
                                            </div>
                                            <div class="testimonial_text">
                                                <div class="testimonial_comment_text">
                                                    <h3>Check what our users are saying.</h3>
                                                </div>
                                                <div class="testimonial_comment py-3">
                                                    <p>This is due to their excellent service, competitive pricing and
                                                        customer
                                                        support. It’s throughly refresing to get such a personal
                                                        touch.</p>
                                                </div>
                                                <div class="testimonial_author_title">
                                                    <a href="vendor.html" tabindex="-1"><h6>Jesscia Brown</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider_item slick-slide slick-cloned" data-slick-index="3" id=""
                                         aria-hidden="true" tabindex="-1" style="width: 1290px;">
                                        <div class="testimonial_layout_1 d-flex justify-content-center align-items-center">
                                            <div class="testimonial_author">
                                                <img src="{% static 'website/images/testimonials/testimonial2.png' %}"
                                                     alt="image_not_found">
                                            </div>
                                            <div class="testimonial_text">
                                                <div class="testimonial_comment_text">
                                                    <h3>Check what our users are saying.</h3>
                                                </div>
                                                <div class="testimonial_comment py-3">
                                                    <p>This is due to their excellent service, competitive pricing and
                                                        customer
                                                        support. It’s throughly refresing to get such a personal
                                                        touch.</p>
                                                </div>
                                                <div class="testimonial_author_title">
                                                    <a href="vendor.html" tabindex="-1"><h6>Jesscia Brown</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service_setion sec_space_xxs_50 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="service_content_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-xl-3">
                        <div class="service_inner_content d-flex justify-content-center align-items-center aos-init aos-animate"
                             data-aos="fade-up" data-aos-duration="500">
                            <div class="service_content_icon rounded-pill me-2">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="service_content_text">
                                <div class="service_content_title">
                                    <h6 class="text-uppercase">Free Shipping</h6>
                                </div>
                                <div class="service_content_sub_title">
                                    <span>Free on order over $300</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3">
                        <div class="service_inner_content d-flex justify-content-center align-items-center aos-init aos-animate"
                             data-aos="fade-up" data-aos-duration="1000">
                            <div class="service_content_icon rounded-pill me-2">
                                <i class="fas fa-user-shield"></i>
                            </div>
                            <div class="service_content_text">
                                <div class="service_content_title">
                                    <h6 class="text-uppercase">Security Payment</h6>
                                </div>
                                <div class="service_content_sub_title">
                                    <span>100% security payment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3">
                        <div class="service_inner_content d-flex justify-content-center align-items-center aos-init aos-animate"
                             data-aos="fade-up" data-aos-duration="1500">
                            <div class="service_content_icon rounded-pill me-2">
                                <i class="fas fa-exchange-alt"></i>
                            </div>
                            <div class="service_content_text">
                                <div class="service_content_title">
                                    <h6 class="text-uppercase">30 Day Return</h6>
                                </div>
                                <div class="service_content_sub_title">
                                    <span>30 day money guarantee</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3">
                        <div class="service_inner_content d-flex justify-content-center align-items-center aos-init aos-animate"
                             data-aos="fade-up" data-aos-duration="2000">
                            <div class="service_content_icon rounded-pill me-2">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="service_content_text">
                                <div class="service_content_title">
                                    <h6 class="text-uppercase">24/7 Support</h6>
                                </div>
                                <div class="service_content_sub_title">
                                    <span>Support every time fast</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
