{% extends  'website/base.html' %}
{% load crispy_forms_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


    <section class=" mt-4 clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <!-- Billing info start -->
                <div class="billing_form mb_50">
                    <h6 class=" text-warning mb_30 float-end"><a class="text-warning"
                                                                 href="{% url 'client:address-create' %}"><i
                            class="fa fa-plus"></i>&nbsp;Add New Address</a></h6>
                    <h3 class="form_title mb_30">Select Address</h3>
                    <div class="row">
                        {% if address %}
                            {% for object in  address %}
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" name="selected_address"
                                                   id="address{{ forloop.counter }}"
                                                   value="{{ object.id }}" class="form-check-input float-end" required
                                                   onchange="logAddressDetails('{{ object.full_name }}', '{{ object.contact }}', '{{ object.postal_code }}', '{{ object.address }}', '{{ object.address_label }}', '{{ object.city }}', '{{ object.state }}', '{{ object.country }}', '{{ object.gst_in }}')">
                                            <p class=" m-0">{{ object.full_name }}</p>
                                            <p class=" m-0">{{ object.contact }}</p>
                                            <p class=" m-0">{{ object.state }}</p>
                                            <p class="  m-0">{{ object.address }}</p>
                                            <div>
                                                <small style="font-size: 12px;background-color: #f5f5f5">{{ object.address_label }}</small>&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-sm-12">
                                <h4 class="text-danger">Address Not Found</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class=" mt-4 clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-7">

                        <!-- Billing info start -->
                        <div class="billing_form mb_50">
                            <h3 class="form_title mb_30">Billing details</h3>
                            <div class="form_wrap card">
                                <style>
                                    #div_id_shipment_type .nice-select {
                                        display: none;
                                    }

                                    #div_id_service_type .nice-select {
                                        display: none;
                                    }
                                </style>
                                {{ form|crispy }}
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-5">
                            <h4 class="form_title mb_30">Items details</h4>
                            <div class="form_wrap ">
                                <div class="billing_form aos-init" data-aos="fade-up" data-aos-duration="2000">
                                    <form action="#">
                                        <div class="form_wrap card">
                                            <div class="checkout_table table-responsive">
                                                <table class="table text-center mb_50">
                                                    <thead class="text-uppercase text-uppercase">
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for obj in cart %}
                                                        <tr>
                                                            <td>
                                                                <div class="cart_product">
                                                                    <div class="item_image">
                                                                        <img src="{{ obj.product.thumbnail_image|image_or_placeholder }}"
                                                                             alt="image_not_found">
                                                                    </div>
                                                                    <div class="item_content">
                                                                        <h4 class="item_title mb_0">{{ obj.product.title }}</h4>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                    <span class="price_text">{% if obj.product_weight %}
                                                        {{ obj.product_weight.get_product_weight_discounted_price }}{% else %}
                                                        {{ obj.product.get_price }}{% endif %}</span>
                                                            </td>
                                                            <td>
                                                                <span class="quantity_text">{{ obj.quantity }}</span>
                                                            </td>
                                                            <td> <span class="quantity_text">
                                                        {% if obj.product_weight %}
                                                            {{ obj.quantity|multiply:obj.product_weight.get_product_weight_discounted_price }}
                                                        {% else %}
                                                            {{ obj.quantity|multiply:obj.product.get_price }}
                                                        {% endif %}
                                                          </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="billing_payment_mathod">
                                                <button type="submit" id="pay-btn"
                                                        class="custom_btn bg_default_red text-white">
                                                    PLACE ORDER
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </form>

        </div>
    </section>


    <script>
        // Wait for the page to load

        // JavaScript function to log address details
        function logAddressDetails(fullName, contact, postal_code, address, address_Label, city, state, country,gst_in) {
            // Populate the form fields with the selected address details
            document.getElementById('id_full_name').value = fullName;
            document.getElementById('id_contact').value = contact;
            document.getElementById('id_postal_code').value = postal_code;
            document.getElementById('id_address').value = address;
            document.getElementById('id_address_label').value = address_Label;
            document.getElementById('id_city').value = city;
            document.getElementById('id_state').value = state;
            document.getElementById('id_country').value = country;
            document.getElementById('id_gst_in').value = gst_in;
        }

        window.addEventListener('load', function () {
            var selectElement = document.getElementById('id_country');
            selectElement.style.display = 'block';
            var selectAddressElement = document.getElementById('id_address_label');
            selectAddressElement.style.display = 'block';
            var selectStateElement = document.getElementById('id_state');
            selectStateElement.style.display = 'block';
            var selectShipmentElement = document.getElementById('id_shipment_type');
            selectShipmentElement.style.display = 'block';
            var selectServiceElement = document.getElementById('id_service_type');
            selectServiceElement.style.display = 'block';
            var customSelect = document.querySelector('.nice-select');
            customSelect.style.display = 'none';
            var niceSelect = document.querySelector('#div_id_country .nice-select');
            if (niceSelect) {
                niceSelect.style.display = 'none';
            }
            var stateniceSelect = document.querySelector('#div_id_state .nice-select');
            if (stateniceSelect) {
                stateniceSelect.style.display = 'none';
            }

        });

    </script>



    <script>


        function enableButton() {
            var selectelem = document.getElementById('dropdown');
            var selectelem1 = document.getElementById('dropdown1');
            var btnelem = document.getElementById('seedoc');
            let total_amount = $('#total_amount')
            let total = $('#total')

            if (selectelem1.value === "normal") {
                total_amount.text(total.text());
                total_amount.text(parseInt(total_amount.text()) + 4.99);
            } else if (selectelem1.value === "premium") {
                total_amount.text(total.text());

                total_amount.text(parseInt(total_amount.text()) + 9.99);
            } else if (selectelem1.value === "default") {
                total_amount.text(total.text());
            }


            if (selectelem.value !== "default" && selectelem1.value !== "default") {
                btnelem.disabled = false;
            } else {
                btnelem.disabled = true;
            }
        }


    </script>

{% endblock content %}