{% extends  'website/base.html' %}
{% load crispy_forms_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


    <section class=" mt-4 clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <!-- Billing info start -->
                <div class="billing_form mb_50">
                    <h3 class="form_title mb_30">Billing details</h3>
                    <div class="form_wrap card">
                        {{ form|crispy }}

                    </div>


                    <div class="billing_form aos-init" data-aos="fade-up" data-aos-duration="2000">
                        <h3 class="form_title mb_30">Your order</h3>
                        <form action="#">
                            <div class="form_wrap card">
                                <div class="checkout_table table-responsive">
                                    <table class="table text-center mb_50">
                                        <thead class="text-uppercase text-uppercase">
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for obj in cart %}
                                            <tr>
                                                <td>
                                                    <div class="cart_product">
                                                        <div class="item_image">
                                                            <img src="{{ obj.product.thumbnail_image|image_or_placeholder }}"
                                                                 alt="image_not_found">
                                                        </div>
                                                        <div class="item_content">
                                                            <h4 class="item_title mb_0">{{ obj.product.title }}</h4>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                    <span class="price_text">{% if obj.product_weight %}
                                        {{ obj.product_weight.get_product_weight_discounted_price }}{% else %}
                                        {{ obj.product.get_price }}{% endif %}</span>
                                                </td>
                                                <td>
                                                    <span class="quantity_text">{{ obj.quantity }}</span>
                                                </td>
                                                <td> <span class="total_price">
                                            {% if obj.product_weight %}
                                                {{ obj.quantity|multiply:obj.product_weight.get_product_weight_discounted_price }}
                                            {% else %}
                                                {{ obj.quantity|multiply:obj.product.get_price }}
                                            {% endif %}
                                        </span>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        <tr>
                                            <td class="text-left">
                                                <span class="subtotal_text">SHIPPING CHARGES</span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="total_price">{{ shipping_charges|floatformat:2 }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <span class="subtotal_text">TOTAL</span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <span class="total_price">{{ sub_total|floatformat:2 }}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="billing_payment_mathod">
                                    <button type="submit" class="custom_btn bg_default_red">PLACE ORDER</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <script>
        function toggleNewAddressForm() {
            var checkBox = document.getElementById("ship_address_checkbox");

            // Add event listener for checkbox click
            checkBox.addEventListener('click', function () {
                console.log(checkBox.checked); // Log the checkbox's checked state (true/false)
            });
        }
    </script>
    <script>


        function enableButton() {
            var selectelem = document.getElementById('dropdown');
            var selectelem1 = document.getElementById('dropdown1');
            var btnelem = document.getElementById('seedoc');
            let total_amount = $('#total_amount')
            let total = $('#total')

            if (selectelem1.value === "normal") {
                total_amount.text(total.text());
                total_amount.text(parseInt(total_amount.text()) + 4.99);
            } else if (selectelem1.value === "premium") {
                total_amount.text(total.text());

                total_amount.text(parseInt(total_amount.text()) + 9.99);
            } else if (selectelem1.value === "default") {
                total_amount.text(total.text());
            }


            if (selectelem.value !== "default" && selectelem1.value !== "default") {
                btnelem.disabled = false;
            } else {
                btnelem.disabled = true;
            }
        }


    </script>

{% endblock content %}