{% extends  'website/base.html' %}
{% load static %}
{% block content %}

    <section class=" sec_space_xs_70">
        <div class="container-md">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="blog_details_cont">
                        <span class="blog_date"> 06 octobar</span>
                        <h2 class="blog_title text-capitalize">standard post format</h2>
                        <div class="blog_author_cont d-flex align-items-center py-3">
                            <span class="author_name me-5"><font>Posted by</font> David Rechards</span>
                            <span class="author_position me-5"><font>In:</font> Graphic Design</span>
                            <span class="author_comment"><font>Comments:</font> 0</span>
                        </div>
                        <p class="blog_desc py-3">We are a strong community of 100,000+ customers and 600+ sellers who
                            aspire to be good, do good, and spread goodness. We are a democratic, self-sustaining,
                            two-sided marketplace which thrives on trust and is built on community and quality
                            content.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="blog_image">
                        <img src="{% static 'website/images/blog/blog3.png' %}" alt="image_not_found">
                    </div>
                </div>
                <div class="col-md-10">
                    <p class="blog_desc py-3 py-sm-5">
                        We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good,
                        and spread goodness. We are a democratic, self-sustaining, two-sided marketplace which thrives
                        on trust and is built on community and quality content. Quaerat sodales sapien euismod blandit
                        purus a purus ipsum primis in cubilia laoreet augue luctus magna dolor luctus and egestas sapien
                        egestas vitae nemo volute
                        <br><br>
                        Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia laoreet augue
                        luctus magna dolor luctus and egestas sapien egestas vitae nemo volute
                    </p>
                    <div class="blog_testimonial position-relative">
                        <span>Qodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum quam nunc putamus claram est usus legentis in iis qui facit eorum claritatem.</span>
                        <i class="fa-solid fa-quote-left position-absolute quote"></i>
                    </div>
                    <h6 class="blog_author_name pt-3">David Miller</h6>
                    <span class="blog_author_position">Marketing Envato Pty Ltd.</span>
                    <p class="blog_desc py-3 py-sm-5">We are a strong community of 100,000+ customers and 600+ sellers
                        who aspire to be good, do good, and spread goodness. We are a democratic, self-sustaining,
                        two-sided marketplace which thrives on trust and is built on community</p>
                </div>
                <div class="col">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="blog_image2">
                                <img src="{% static 'website/images/blog/blog4.png' %}" alt="image_not_found">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="blog_desc">
                                We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good,
                                do good, and spread goodness. We are a democratic, self-sustaining, two-sided
                                marketplace which thrives on trust and is built on community
                            </p>
                            <p class="blog_desc py-3 py-sm-5">
                                We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good,
                                do good, and spread goodness. We are a democratic, self-sustaining, two-sided
                                marketplace which thrives on trust and is built on community
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <p class="blog_desc py-3 py-sm-5">
                        We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good,
                        and spread goodness. We are a democratic, self-sustaining, two-sided marketplace which thrives
                        on trust and is built on community
                    </p>
                </div>
                <div class="col-md-10">
                    <div class="text_style_wrap mb-5">
                        <h3 class="text_style_title">Text Lists Style</h3>
                        <p class="text_style_desc my-4">Mirum est notare quam littera gothica, quam nunc putamus parum
                            claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta
                            decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant usus legentis in iis qui
                            facit.</p>
                        <div class="text_style_cont ms-4 d-flex">
                            <div class="text_style_item">
                                <ul class="list-unstyled style_item">
                                    <li><i class="fas fa-check"></i> Magna risus vehi augue</li>
                                    <li><i class="fas fa-check"></i> Facilisis magna risus</li>
                                    <li><i class="fas fa-check"></i> Dolor sit ametconse ctetur</li>
                                    <li><i class="fas fa-check"></i> Ametconse ctetur adipis</li>
                                </ul>
                            </div>
                            <div class="text_style_item ms-5">
                                <ul class="list-unstyled style_item">
                                    <li><i class="fas fa-check"></i> Ametconse ctetur adipis</li>
                                    <li><i class="fas fa-check"></i> Dolor sit ametconse ctetur</li>
                                    <li><i class="fas fa-check"></i> Facilisis magna risus</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row ">
                        <div class="col-md-6">
                            <p class="blog_desc">
                                We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good,
                                do good, and spread goodness. We are a democratic, self-sustaining, two-sided
                                marketplace which thrives on trust and is built on community
                            </p>
                            <p class="blog_desc py-3 py-sm-5">
                                We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good,
                                do good, and spread goodness. We are a democratic, self-sustaining, two-sided
                                marketplace which thrives on trust and is built on community
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="blog_image2">
                                <img src="{% static 'website/images/blog/blog5.png' %}" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                    <p class="blog_desc pt-5">
                        We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good,
                        and spread goodness. We are a democratic, self-sustaining, two-sided marketplace which thrives
                        on trust and is built on community We are a strong community of 100,000+ customers and 600+
                        sellers who aspire to be good, do good, and spread goodness. We are a democratic,
                        self-sustaining, two-sided marketplace which thrives on trust and is built on community
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-5">
                    <div class="blog_image3 d-flex flex-column bg-white">
                        <img src="{% static 'website/images/blog/blog6.png' %}" alt="image_not_found">
                        <span class="photo_credit bg-white">Videntur parum clari. © Photo by <font>John Doe</font></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mt-5">
                    <p class="blog_desc pt-5">
                        We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good,
                        and spread goodness. We are a democratic, self-sustaining, two-sided marketplace which thrives
                        on trust and is built on community <br>
                        We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good,
                        and spread goodness. We are a democratic, self-sustaining, two-sided marketplace which thrives
                        on trust and is built on community <br><br>

                        We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good,
                        and spread goodness. We are a democratic, self-sustaining, two-sided marketplace which thrives
                        on trust and is built on community
                    </p>
                    <div class="blog_wishlist d-flex flex-column align-items-center mt-5">
                        <span><i class="fas fa-heart"></i></span>
                        <span class="like_num">63 Likes</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 sec_space_xxs_50">
                    <div class="tags_cont d-flex align-items-center mt-5">
                        <span class="tags_title text-uppercase me-5">Tags:</span>
                        <div class="tags_item">
                            <a href="#!"><span>Graphic Design,</span></a>
                            <a href="#!"><span>Photoshop,</span></a>
                            <a href="#!"><span>Websites,</span></a>
                            <a href="#!"> <span>Photography,</span></a>
                            <a href="#!"><span>Articles</span></a>
                        </div>
                    </div>
                    <div class="share_cont d-flex align-items-center mt-3">
                        <span class="share_title text-uppercase me-5">share:</span>
                        <ul class="share_socials ul_li_right clearfix">
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="commments_cont mt-5">
                        <h3>0 Comments</h3>
                        <p class="comments_desc mt-4">There are not comments on this post yet. Be the first one!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <h3 class="comment_area_title mb-5">Leave a Comment</h3>
                    <div class="comment_form_area">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_item">
                                        <input class="rounded-pill" type="text" name="name" placeholder="Your Name*"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_item">
                                        <input class="rounded-pill" type="text" name="name" placeholder="Your Name*"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_item">
                                        <input class="rounded-pill" type="email" name="email"
                                               placeholder="Email Address*" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_item">
                                        <input class="rounded-pill" type="text" name="name" placeholder="Website*"
                                               required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form_item">
                                <textarea name="comment" placeholder="your Comment*"></textarea>
                            </div>
                            <button type="submit" class="btn custom_btn rounded-pill py-3 text-white text-uppercase">
                                Post Comments <i class="fas fa-long-arrow-alt-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}