{% extends  'website/base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

    <section class=" sec_space_xs_70">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-9">
                       <div class="blog_details_cont">
                        <h2 class="blog_title text-capitalize">{{ object.title}}</h2>
                        <div class="blog_author_cont d-flex align-items-center py-3">
                            <span class="author_name me-5"><font>Posted by</font> {{ object.author}}</span>
                            <span class="author_position me-5"><font>Category:</font> {{ object.category}}</span>
                            <span class="author_comment"><font>Posted At:</font> {{ object.created_on.date }}</span>
                        </div>

                    </div>
                <div class="col-12">
                    <div class="blog_image">
                        <img src="{{ object.thumbnail_image|image_or_placeholder }}" alt="image_not_found">
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="blog_desc py-sm-5">
                       {{ object.content|safe }}
                    </p>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock content %}