{% extends  'website/base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <style>
        input[type="radio"] {
            display: none;
        }

        label {
            text-align: center;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #f5b23c;
            align-items: center;
            justify-content: center;
            padding: 10px 20px; /* Adjust padding as needed */
            text-transform: uppercase; /* Make text uppercase */

        }

        input[type="radio"]:checked + label {
            background-color: #f5b23c;
            color: #fff;
            border: 1px solid #f5b23c;
        }

        label:hover {
            background-color: #f5b23c;
            color: #fff;
            border: 1px solid #f5b23c;
        }
    </style>
    <section class="product10_sec position-relative aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="product10_wrap sec_space_small">
            <div class="container-xxl">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <!-- User this HTML for Slider -->
                        <!-- User this HTML for Slider -->
                        <section class="banner-section">
                            <div class="container">
                                <div class="vehicle-detail-banner banner-content clearfix">
                                    <div class="banner-slider">
                                        <div class="slider slider-nav thumb-image">
                                            <div class="thumbnail-image">
                                                <div class="thumbImg bg-white">
                                                    <a href="#!"><img
                                                            style="border:1px solid #f5b23c;width: 100px;height: 100px"
                                                            src="{{ object.thumbnail_image|image_or_placeholder }}"
                                                            alt="image_not_found"></a>
                                                </div>
                                            </div>
                                            {% for image in object.get_images %}
                                                <div class="thumbnail-image">
                                                    <div class="thumbImg bg-white">
                                                        <a href="#!"><img
                                                                style="border:1px solid #f5b23c;width: 100px;height: 100px"
                                                                src="{{ image.image|image_or_placeholder }}"
                                                                alt="image_not_found"></a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="slider slider-for card">
                                            <div class="slider-banner-image img_moving_anim1 text-center bg-white">
                                                <img src="{{ object.thumbnail_image|image_or_placeholder }}"
                                                     alt="image_not_found">
                                            </div>
                                            {% for image in object.get_images %}

                                                <div class="slider-banner-image img_moving_anim1 bg-white">
                                                    <img src="{{ image.image|image_or_placeholder }}"
                                                         alt="image_not_found">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End User this HTML for Slider -->
                    </div>
                    <div class="col-lg-6">
                        <div class="rating_wrap d-flex justify-content-between">
                            <div class="rating_review_cont d-flex d-flex align-items-center">
                                <ul class="rating_star ul_li">
                                    <i class="fa fa-circle text-warning" aria-hidden="true"></i>
                                </ul>
                                <b>&nbsp;In Stock</b>
                            </div>
                            <div class="product_btn">
                                <a href="#">
                                    <ul class="rating_star ul_li">
                                        {{ object.average_review|get_html_icons }}
                                    </ul>
                                    <a href="#!" class="review">Read {{ reviews.count }} Reviews</a>
                                </a>
                            </div>
                        </div>
                        <h2 class="product_detail_title">{{ object.title }}</h2>
                        <div class="row mt-5">
                            <div class="col-8">
                                <div class="product10_value_content">
                                    <h4 class="value_title mb-3">Additional Info</h4>
                                    <div class="product10_value_table bg-white shadow-lg">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th scope="row">Manufacturer</th>
                                                <td>{{ object.manufacturer_brand }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Category</th>
                                                <td>{{ object.category }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Quantity</th>
                                                <td>{{ object.quantity }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            {% if object.productweight_set.all %}
                                <h4 class="value_title mb-3" style="padding-left: 40px">Available In</h4>
                                {% for object in object.productweight_set.all %}
                                    <div class="col-sm-4 col-md-2 col-lg-2">
                                        <div class="form-check">
                                            <input class="form-check-input" data-object-id="{{ object.id }}"
                                                   type="radio" name="flexRadioDefault"
                                                   id="{{ object.id }}">
                                            <label class="form-check-label" for="{{ object.id }}">
                                                {{ object.weight }}<br>
                                                {{ object.price }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <div class="product10_quantity_btn_wrap d-flex align-items-center">
                            {#                            <div class="quantity_input bg-white">#}
                            {#                                <form action="#">#}
                            {#                                    <span class="input_number_decrement">–</span>#}
                            {#                                    <input class="input_number" value="1">#}
                            {#                                    <span class="input_number_increment">+</span>#}
                            {#                                </form>#}
                            {#                            </div>#}
                            <a href="#">
                                <button type="button" id="buy-now-btn" disabled
                                        class="btn custom_btn rounded-pill ms-3 px-5 py-3 text-white">
                                    Buy Now <i class="fas fa-coffee"></i>
                                </button>
                            </a>
                            <a href="#">
                                <button type="button" id="add-to-cart-btn" disabled
                                        class="btn custom_btn rounded-pill ms-3 px-5 py-3 text-white">
                                    Add to Cart <i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            </a>
                            <ul class="product_action_btns ul_li_block d-flex">
                                <li><a class="tooltips" data-placement="top"
                                       title="Search Product"
                                       href="{% url 'website:wishlist-add' object.pk %}"><i
                                        class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product_tags_wrap d-flex align-items-center mt-5">
                            <h6 class="product_tags_title text-uppercase">tags:</h6>
                            <div class="tags_item d-flex align-items-center">
                                {% for tag in object.tags.all %}
                                    <a href="#!">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product10_reviews sec_top_space_70 aos-init aos-animate" data-aos="fade-up"
             data-aos-duration="2000">
        <div class="product10_reviews_wrap">
            <div class="container-xxl">
                <div class="d-flex justify-content-center justify-content-lg-start align-items-center">
                    <ul class="product_tabnav_3 nav nav-pills my-5" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active shadow rounded-pill text-uppercase"
                                    id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description"
                                    type="button" role="tab" aria-controls="pills-description" aria-selected="true">
                                description
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link shadow rounded-pill text-uppercase" id="pills-reviews-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab"
                                    aria-controls="pills-reviews" aria-selected="false">reviews {{ reviews.count }}
                            </button>
                        </li>
                    </ul>
                </div>


                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                         aria-labelledby="pills-description-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="review_comment2 ms-3">
                                    <h3 class="title_text mb_15">Description:</h3>
                                    <p>{{ object.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pills-reviews" role="tabpanel"
                         aria-labelledby="pills-reviews-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="review_comment2 ms-3">
                                    <h3 class="title_text">Reviews:</h3>
                                    <ul class="review_comment_list2 ul_li_block">
                                        {% for review in reviews %}
                                            <li class="review_comment_wrap2">
                                                <h4 class="admin_name">{{ review.order.client }} <span
                                                        class="comment_date">{{ review.created_on }}</span></h4>
                                                <ul class="rating_star ul_li">
                                                    {{ review.rate|get_html_icons }}
                                                </ul>
                                                <p class="mb-0">
                                                    {{ review.comment }}
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product_section sec_top_space_50 sec_inner_bottom_130 aos-init" data-aos="fade-up"
             data-aos-duration="2000">
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product_sec_content">
                        <div class="product_sec_sub_title d-flex align-items-center pb-2">
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <span>FRESH FROM OUR FARM</span>
                        </div>
                        <h2 class="product_sec_title pb-3">Related Products</h2>
                    </div>
                </div>
            </div>

            <div class="row g-4">
                {% for object in related_product %}
                    <div class="col-sm-4 col-lg-3">
                        <div class="product_layout_1 overflow-hidden position-relative">

                            <div class="product_layout_content bg-white position-relative">
                                <div class="product_image_wrap">
                                    <a class="product_image d-flex justify-content-center align-items-center"
                                       href="{{ object.thumbnail_image.url|image_or_placeholder }}">
                                        <img class="pic-1"
                                             src="{{ object.thumbnail_image.url|image_or_placeholder }}"
                                             alt="image_not_found">
                                        <img class="pic-2"
                                             src="{{ object.thumbnail_image.url|image_or_placeholder }}"
                                             alt="image_not_found">
                                    </a>
                                    <ul class="product_badge_group ul_li_block">
                                        <li><span
                                                class="product_badge badge_meats position-absolute rounded-pill text-uppercase">{{ object.category }}</span>
                                        </li>
                                        {% if object.discount %}
                                            <li><span
                                                    class="product_badge badge_discount position-absolute rounded-pill">-{{ object.discount }}%</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <ul class="product_action_btns ul_li_block d-flex">
                                        <li><a class="tooltips" data-placement="top"
                                               title="Search Product"
                                               href="{% url 'website:product-detail' object.pk %}"><i
                                                class="fas fa-eye"></i></a>
                                        </li>
                                        <li><a class="tooltips"
                                               title="Add To Cart"
                                               href="{% url 'website:wishlist-add' object.pk %}"><i
                                                class="far fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="rating_wrap d-flex">
                                    <ul class="rating_star ul_li">
                                        {{ object.average_review|get_html_icons }}
                                    </ul>
                                    <span class="shop_review_text">( {{ object.average_review }})</span>
                                </div>
                                <div class="product_content">
                                    <h3 class="product_title">
                                        <a href="{% url 'website:product-detail' object.id %}"
                                           target="_blank">{{ object.title }}</a>
                                    </h3>
                                    <div class="product_price">
                                        <span class="sale_price pe-1">{{ object.get_price }}</span>
                                        {% if object.discount %}
                                            <del>{{ object.price }}</del>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        let objectId = null;

        function check_button_checkboxes_are_selected() {
            if (document.querySelector('input[type="radio"]') == null) {
                return true
            }
            return !!document.querySelector('input[type="radio"]:checked');
        }

        document.addEventListener("DOMContentLoaded", function () {
            const buyNowBtn = document.getElementById('buy-now-btn');
            const addToCartBtn = document.getElementById('add-to-cart-btn');
            if (check_button_checkboxes_are_selected()) {
                addToCartBtn.removeAttribute('disabled');
                buyNowBtn.removeAttribute('disabled');
            }

            function updateAddToCartButton() {
                if (check_button_checkboxes_are_selected()) {
                    const checkedRadioButton = document.querySelector('input[type="radio"]:checked');
                    addToCartBtn.removeAttribute('disabled');
                    buyNowBtn.removeAttribute('disabled');
                    objectId = checkedRadioButton.dataset.objectId;
                } else {
                    addToCartBtn.setAttribute('disabled', 'disabled');
                    buyNowBtn.setAttribute('disabled', 'disabled');
                }
            }

            addToCartBtn.addEventListener('click', function () {
                if (objectId) {
                    window.location.href = '/add-to-cart/' + "{{object.id}}" + '/' + objectId + '/';
                } else {
                    window.location.href = '/add-to-cart/' + "{{object.id}}" + '/' + 0 + '/';
                }
            });
            buyNowBtn.addEventListener('click', function () {
                if (objectId) {
                    window.location.href = '/buy-now/' + "{{object.id}}" + '/' + objectId + '/';
                } else {
                    window.location.href = '/buy-now/' + "{{object.id}}" + '/' + 0 + '/';
                }
            });
            const radioButtons = document.querySelectorAll('input[type="radio"]');
            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('click', updateAddToCartButton);
            });


        });
    </script>

{% endblock content %}

