{% extends  'website/base.html' %}
{% load static %}
{% block content %}

    <section class="aos-init aos-animate mb-0 p-4" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class=" table-responsive position-relative">
                <h4>WishList Items</h4>
            </div>
        </div>
    </section>

    <section class=" aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <div class="cart_table card table-responsive position-relative">
                <table class="table align-middle">
                    <thead class="text-uppercase">
                    <tr>
                        <th>Image</th>
                        <th>product name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="cart_product position-relative">
                                <div class="item_image">
                                    <img src="{% static 'website/images/cart/cart1.png' %}" alt="image_not_found">
                                </div>
                                <button type="button" class="remove_btn position-absolute">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="item_content">
                                <a href="shop-list.html">
                                    <h4 class="item_title">Curated Products</h4>
                                </a>
                                <span class="item_type">Shop groceries</span>
                            </div>
                        </td>
                        <td>
                            <span class="price_text">$69.00</span>
                        </td>
                        <td>
                            <a href="#" class="text-danger"><i class="fa fa-trash"></i></a>
                            <a href="#" class="text-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="cart_product position-relative">
                                <div class="item_image">
                                    <img src="{% static 'website/images/cart/cart2.png' %}" alt="image_not_found">
                                </div>
                                <button type="button" class="remove_btn position-absolute">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="item_content">
                                <a href="shop-list.html">
                                    <h4 class="item_title">Clean Business Card</h4>
                                </a>
                                <span class="item_type">Shop groceries</span>
                            </div>
                        </td>
                        <td>
                            <span class="price_text">$23.00</span>
                        </td>
                        <td>
                            <a href="#" class="text-danger"><i class="fa fa-trash"></i></a>
                            <a href="#" class="text-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart_product position-relative">
                                <div class="item_image">
                                    <img src="{% static 'website/images/cart/cart3.png' %}" alt="image_not_found">
                                </div>
                                <button type="button" class="remove_btn position-absolute">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="item_content">
                                <a href="shop-list.html">
                                    <h4 class="item_title">Sustainable</h4>
                                </a>
                                <span class="item_type">Shop groceries</span>
                            </div>
                        </td>
                        <td>
                            <span class="price_text">$36.00</span>
                        </td>
                        <td>
                            <a href="#" class="text-danger"><i class="fa fa-trash"></i></a>
                            <a href="#" class="text-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock content %}