{% load static %}

<!-- footer -->
<footer class="footer_section position-relative">
         <div class="footer_section_wrap sec_top_space_50" style="background-image: url('{% static 'website/images/footer/footer.png' %}')">
            <div class="container">
               <div class="footer_top_content d-flex flex-column flex-lg-row justify-content-between align-items-center">
                  <div class="footer_top_logo">
                     <a href="{%  url 'website:home' %}"><img src="{% static 'final_logo.png' %}" style="height: 60px" alt="image_not_found"></a>
                  </div>
                  <div class="footer_top_subs position-relative">
                     <input class="rounded-pill" type="search" name="search" placeholder="Your Phone Number">
                     <a href="#!"><button type="button" class="btn custom_btn rounded-pill text-white position-absolute">Subscribe Now <i class="fas fa-long-arrow-alt-right"></i></button></a>
                  </div>
                  <div class="footer_top_social">
                     <ul class="list-unstyled d-flex justify-content-end">
                        <li class="me-3"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                        <li class="me-3"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="me-3"><a href="#!"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer_inner_content sec_space_xs_70">
                  <div class="footer_inner_content_wrap">
                     <div class="row">
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_choose_content">
                              <div class="footer_inner_choose_title">
                                 <h4>
                                    <a href="#!" class="text-white">Why People Like us</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_choose_desc pt-2">
                                 <p>Welcome to our e-commerce system dedicated to providing the finest dry fruits. Discover a variety of premium nuts, dried berries, and more, all sourced from the best growers. Shop with us for quality and freshness delivered right to your doorstep. </p>
                              </div>
                              <div class="footer_inner_choose">
                                 <a href="{% url 'website:shop' %}"><button type="button" class="btn custom_btn rounded-pill px-4 text-white">View More <i class="fas fa-long-arrow-alt-right"></i></button></a>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_info_content">
                              <div class="footer_inner_info_title">
                                 <h4>
                                    <a href="#!" class="text-white">Information</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_info_item pt-2">
                                 <ul class="list-unstyled">
                                    <li><a href="{% url 'website:about_us' %}">About Us</a></li>
                                    <li><a href="{% url 'website:about_us' %}">Delivery Information</a></li>
                                    <li><a href="{% url 'website:privacy' %}">Privacy Policy</a></li>
                                    <li><a href="{% url 'website:terms' %}">Terms &amp; Conditions</a></li>
                                    <li><a href="{% url 'website:return_policy' %}">Return Policy</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_acct_content">
                              <div class="footer_inner_acct_title">
                                 <h4>
                                    <a href="#" class="text-white">My Account</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_acct_item pt-2">
                                 <ul class="list-unstyled">
                                    <li><a href="{% url 'client:dashboard' %}">My Account</a></li>
                                    <li><a href="{%  url 'website:cart' %}">Shopping Cart</a></li>
                                    <li><a href="{%  url 'website:wishlist_list' %}">Wishlist</a></li>
                                    <li><a href="{%  url 'client:order_list' %}">Order History</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_cotc_content">
                              <div class="footer_inner_ctc_title">
                                 <h4>
                                    <a href="#!" class="text-white">Contact Us</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_ctc_info pt-2 text-white">
                                 <p>Address: <font>SHop No 8, Campus Corner 2 Complex Beside sales india AUDA Garden,
                                nr.Flamingo circle Prahlad Nagar Ahmedabad Gujarat 380015</font>
                                 </p>
                                 <p>Email: <font>support@rajasthandryfruitshouse.com</font>
                                 </p>
                                 <p>Phone: <font>+91 81410 66633</font>
                                 </p>
                                 <div class="footer_inner_payment_ctc">
                                    <div class="footer_inner_payment_title">
                                       <h5 class="text-white">Payment Accepted</h5>
                                    </div>
                                    <div class="footer_inner_payment_thumb pt-3">
                                       <a href="#!"><img src="{% static 'website/images/payment/payment.png' %}" alt="image_not_found"></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer_bootom_content">
                  <div class="footer_bootom_wrap">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="footer_bootom_copyright">
                                 <p>Copyright@2024 <font>JHWEBTECH</font> All Rights Reserved</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="footer_bootom_privicy_cont d-flex justify-content-center align-items-center">
                                 <div class="footer_bootom_privicy pe-5">
                                    <a href="#!">
                                       <p class="priv position-relative">Privacy Policy</p>
                                    </a>
                                 </div>
                                 <div class="footer_bootom_terms pe-5">
                                    <p class="position-relative">Terms of Use</p>
                                 </div>
                                 <div class="footer_bootom_refunds">
                                    <p>Sales and Refunds</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer><!-- end footer -->
