{% load static %}
<header class="header_section header_1">
    <!-- top header start -->
    <div class="top_header_main d-none d-sm-block">
        <div class="container">
            <div class="header_top d-flex align-items-center justify-content-between">
                <div class="header_top_content d-flex pt-2">
                    <div class="mail_text_content d-flex">
                        <p class="mail_icon"><span><i class="far fa-envelope text-white pe-2"></i></span></p>
                        <p class="mail_text">info@webmail.com</p>
                    </div>
                    <div class="address_text_content d-flex">
                        <p class="mail_icon"><span><i class="fas fa-map-marker-alt text-white pe-2"></i></span></p>
                        <p class="address_text">15/A, Nest Tower,NYC</p>
                    </div>
                </div>
                <div class="header_top_socials pt-2">
                    <ul class="list-unstyled d-flex">
                        <li><a href="#!"><i class="fab fa-facebook-f text-white pe-3"></i></a></li>
                        <li><a href="#!"><i class="fab fa-twitter text-white pe-3"></i></a></li>
                        <li><a href="#!"><i class="fab fa-instagram text-white pe-3"></i></a></li>
                        <li><a href="#!"><i class="fab fa-linkedin-in text-white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- top header end -->

    <!-- bottom header start -->
    <div class="header_bottom_main">
        <div class="container">
            <!-- web menubar start-->
            <div class="webMenu d-none d-lg-block position-relative">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand position-relative" href="{% url 'website:home' %}">
                        <img style="height: 50px" src="{% static 'Logo_New_rajeshtan 1.png' %}"
                             alt="image_not_found"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav main_menu_list m-auto after_navbar">
                            <li class="nav-item nav_item_has_child px-2 dropdown">
                                <a class="nav-link" href="{% url 'website:home' %}">Home</a>
                            </li>
                            <li class="nav-item  px-2 dropdown">
                                <a class="nav-link" href="{% url 'website:shop' %}" id="shop_submenu"
                                >Shop</a>
                            </li>
                            <li class="nav-item nav_item_has_child px-2 dropdown">
                                <a class="nav-link" href="{% url 'website:posts' %}">Blogs</a>
                            </li>
                            <li class="nav-item nav_item_has_child px-2">
                                <a class="nav-link" href="{% url 'website:about_us' %}">About Us</a>
                            </li>
                            <li class="nav-item nav_item_has_child dropdown px-2">
                                <a class="nav-link" href="{% url 'website:contact_us' %}">Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar_user me-2">
                        <div class="navbar_user_icon">
                            <ul class="list-unstyled d-flex mb-0">
                                <li class="pe-3">
                                    <button class="main_search_btn" data-bs-toggle="collapse"
                                            data-bs-target="#main_search_collapse" aria-expanded="false"
                                            aria-controls="main_search_collapse">
                                        <i class="search_icon fas fa-search"></i>
                                        <i class="search_close fas fa-times"></i>
                                    </button>
                                </li>
                                <li class="pe-2 position-relative">
                                    <a href="{% url 'client:dashboard' %}"><i
                                            class="far fa-user" data-toggle="collapse" role="button"
                                            data-target="#use_deropdown" aria-expanded="false"
                                            aria-controls="use_deropdown"></i>
                                    </a>
                                </li>
                                <li class="pe-2"><a href="{% url 'website:wishlist_list' %}"><i
                                        class="far fa-heart"></i></a></li>
                                <li>
                                    <a href="#!">
                                        <i class="fas fa-shopping-bag position-relative" data-bs-toggle="offcanvas"
                                           data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- mobile menubar start -->
            <div class="mobileMenu d-block d-lg-none">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'website:home' %}"><img style="height: 50px"
                                                                                 src="{% static 'Logo_New_rajeshtan 1.png' %}"
                                                                                 alt="image_not_found"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                         id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close mobile_menu_close text-reset"
                                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav main_menu_list m-auto after_navbar">
                                <li class="nav-item nav_item_has_child px-2 dropdown">
                                    <a class="nav-link" href="{% url 'website:home' %}">Home</a>
                                </li>
                                <li class="nav-item  px-2 dropdown">
                                    <a class="nav-link" href="{% url 'website:shop' %}" id="shop_submenu"
                                    >Shop</a>
                                </li>
                                <li class="nav-item nav_item_has_child px-2 dropdown">
                                    <a class="nav-link" href="{% url 'website:posts' %}">Blogs</a>
                                </li>
                                <li class="nav-item nav_item_has_child px-2">
                                    <a class="nav-link" href="{% url 'website:about_us' %}">About Us</a>
                                </li>
                                <li class="nav-item nav_item_has_child dropdown px-2">
                                    <a class="nav-link" href="{% url 'website:contact_us' %}">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar_user me-2">
                        <div class="navbar_user_icon">
                            <ul class="list-unstyled d-flex mb-0">
                                <li class="pe-3">
                                    <button class="main_search_btn" data-bs-toggle="collapse"
                                            data-bs-target="#main_search_collapse" aria-expanded="false"
                                            aria-controls="main_search_collapse">
                                        <i class="search_icon fas fa-search"></i>
                                        <i class="search_close fas fa-times"></i>
                                    </button>
                                </li>
                                <li class="pe-2 position-relative">
                                    <a href="{% url 'client:dashboard' %}"><i
                                            class="far fa-user" data-toggle="collapse" role="button"
                                            data-target="#use_deropdown" aria-expanded="false"
                                            aria-controls="use_deropdown"></i>
                                    </a>
                                </li>
                                <li class="pe-2"><a href="{% url 'website:wishlist_list' %}"><i
                                        class="far fa-heart"></i></a></li>
                                <li>
                                    <a href="#!">
                                        <i class="fas fa-shopping-bag position-relative" data-bs-toggle="offcanvas"
                                           data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- collapse search - start -->
        <div class="main_search_collapse collapse" id="main_search_collapse">
            <div class="main_search_form position-relative card">
                <div class="container">
                    <form action="{% url 'website:shop' %}">
                        <div class="form_item position-relative">
                            <input type="search" class="form-control rounded-pill py-3" name="title"
                                   placeholder="Search Your Product...">
                            <button type="submit" class="submit_btn"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- collapse search - end -->
    </div>
</header>
