{% load custom_tags %}
{% load static %}
<section class="sidebar_section">
    <div class="sidebar_content_wrap">
        <div class="container">
            <div class="row">
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header align-items-center">
                        <h5 class="mb-0">Your Cart</h5>
                        <button type="button" class="btn-close text-reset text-end" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        {% if cart %}
                            {% for object in cart %}
                                <div class="prdc_ctg_product_content mt-1 d-flex align-items-center">
                                    <div class="prdc_ctg_product_img d-flex justify-content-center align-items-center me-3">
                                        <img src="{{ object.product.thumbnail_image|image_or_placeholder }}"
                                             alt="image_not_found">
                                    </div>
                                    <div class="prdc_ctg_product_text">
                                        <div class="prdc_ctg_product_title my-2">
                                            <a href="{% url 'website:product-detail' object.product.id %}" target="_blank"><h5>
                                                {{ object.product.title}}</h5></a>
                                        </div>
                                        <div class="prdc_ctg_product_price mt-1 product_price">
                                            <span class="sale_price pe-1">{% if object.product_weight %}{{ object.product_weight.get_product_weight_discounted_price }}{% else %}{{ object.product.get_price }}{% endif %}</span>
                                            <del>{% if object.product_weight %}{{ object.product_weight.price }}{% else %}{{ object.product.price }}{% endif %}</del>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="total_price">
                                <ul class="ul_li_block mb_30 clearfix">
                                    <li>
                                        <span>Total Amount :</span>
                                        <span>{{total_amount|floatformat:"2" }}</span>
                                    </li>
                                    <li>
                                        <span>Discounted Amount:</span>
                                        <span>{{ discounted_amount|floatformat:"2"  }}</span>
                                    </li>
                                    <li>
                                        <span>Shipping Charged :</span>
                                        <span> {{sipping_charges|floatformat:"2" }}</span>
                                    </li>
                                    <li>
                                        <span>Sub Total:</span>
                                        <span>{{sub_total|floatformat:"2" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar_btns">
                                <ul class="btns_group ul_li_block clearfix">
                                    <li><a href="{% url 'website:cart' %}">View Cart</a></li>
                                    <li><a href="{% url 'website:order' %}">Checkout</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <span class="text-danger">Cart is Empty</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
