{% extends  'website/base.html' %}
{% load crispy_forms_filters %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


    <section class=" mt-4 clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-12 ">
                    <div class="card p-4">
                        <div class="card-header">
                            <h1 class="title text-center">Payment</h1>

                        </div>
                        <form action="#">

                            <div class="billing_payment_mathod">

                                <div class="m-4">
                                    <h5 class="float-end">{{ order.total|floatformat:2 }}</h5>
                                    <h5>Total</h5>
                                </div>
                                <div class="m-4">
                                    <h5 class="float-end">{{ order.shipping_charges|floatformat:2 }}</h5>
                                    <h5>Shipping Charges </h5>
                                </div>
                                <div class="m-4">
                                    <h5 class="float-end">{{ order.tax|floatformat:2 }}</h5>
                                    <h5>Tax</h5>
                                </div>
                                <div class="m-4">
                                    <h5 class="float-end">{{ order.sub_total|floatformat:2 }}</h5>
                                    <h5>Sub Total </h5>
                                </div>
                            </div>
                        </form>
                        <!-- Payment Button -->
                        <button class="btn btn-warning mt-4 mb-4" id="pay-btn">Pay Now</button>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



    <script>
        var options = {
            key: "{{ razorpay_merchant_key }}",
            amount: "{{ razorpay_amount }}",
            currency: "INR",
            name: "Your Company Name",
            description: "Payment for Your Product",
            image: "https://yourwebsite.com/logo.png",
            order_id: "{{ razorpay_order_id }}",
            callback_url: "{{ callback_url }}",

        };

        var rzp1 = new Razorpay(options);

        document.getElementById("pay-btn").onclick = function (e) {
            rzp1.open();
        };

    </script>
    <script>
        function toggleNewAddressForm() {
            var checkBox = document.getElementById("ship_address_checkbox");

            // Add event listener for checkbox click
            checkBox.addEventListener('click', function () {
                console.log(checkBox.checked); // Log the checkbox's checked state (true/false)
            });
        }
    </script>
    <script>


        function enableButton() {
            var selectelem = document.getElementById('dropdown');
            var selectelem1 = document.getElementById('dropdown1');
            var btnelem = document.getElementById('seedoc');
            let total_amount = $('#total_amount')
            let total = $('#total')

            if (selectelem1.value === "normal") {
                total_amount.text(total.text());
                total_amount.text(parseInt(total_amount.text()) + 4.99);
            } else if (selectelem1.value === "premium") {
                total_amount.text(total.text());

                total_amount.text(parseInt(total_amount.text()) + 9.99);
            } else if (selectelem1.value === "default") {
                total_amount.text(total.text());
            }


            if (selectelem.value !== "default" && selectelem1.value !== "default") {
                btnelem.disabled = false;
            } else {
                btnelem.disabled = true;
            }
        }


    </script>

{% endblock content %}