{% extends 'stripe/base.html' %}
{% load static %}

{% block title %}
    Connect Wallet
{% endblock %}

{% block content %}
    <div class="text-center mt-4">
        <div>

            {% if not request.user.is_stripe_connected %}
                <img alt="cancel" height="100" src="{% static 'cross.png' %}">
                <p class="text-danger mt-4">
                    Your wallet activation is pending as your Seedswild wallet has not been linked to the Stripe Connect
                    wallet.
                </p>
                <p class="text-danger">
                    Seedswild utilizes the Stripe Connect account for checkout, top-ups, and withdrawals.
                </p>

                <p class="mb-4">
                    check the button below to create your connect wallet
                </p>

                <a class="btn btn-success border-0" href="{% url 'stripe:connect-wallet-create' %}">
                    <i class="fa fa-link"></i> Create Connect Wallet
                </a>

            {% else %}


                {% if request.user.is_stripe_account_active %}
                    <img alt="cancel" height="100" src="{% static 'cechk.png' %}">
                    <p class="text-success mt-4">
                        Your wallet is activated and connected.
                    </p>
                {% else %}
                    <img alt="cancel" height="100" src="{% static 'cross.png' %}">
                    <p class="text-danger mt-4">
                        You need some more verifications to activate wallet.
                    </p>
                {% endif %}

                <p class="mb-4">
                    click the button below to visit your connect wallet stripe dashboard.
                </p>

                <a class="btn btn-success border-0" href="{% url 'stripe:connect-wallet-visit' %}">
                    <i class="fa fa-link"></i> Visit Connect Wallet
                </a>

            {% endif %}

            <a class="btn btn-primary border-0" href="{% url 'accounts:cross-auth' %}">
                <i class="fa fa-arrow-left"></i> Dashboard
            </a>

        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}