{% extends 'admins/base.html' %}
{% load custom_tags %}
{% load static %}

{% block base_subtitle %}
    Dashboard
{% endblock %}

{% block base_subhead_heading %} Admin &rAarr; Dashboard{% endblock %}
{% block base_subhead_paragraph %}Detailed down admin dashboard view{% endblock %}

{% block base_content %}

    {# TOP STATISTICS #}
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-success text-white avatar">
                              <i class="bx bx-user"></i>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">
                                {{ users }} Users
                            </div>
                            <div class="text-muted">
                                <a href="{% url 'admins:user-list' %}"><i class="fa fa-eye"></i> view</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-warning text-white avatar">
                              <i class="bx bxs-truck"></i>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">
                                {{ orders }} Orders
                            </div>
                            <div class="text-muted">
                                <a href="{% url 'admins:order-list' %}"><i class="fa fa-eye"></i> view</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-primary text-white avatar">
                              <i class="bx bx-pen"></i>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">
                                {{ blogs }} Blogs
                            </div>
                            <div class="text-muted">
                                <a href="{% url 'admins:post-list' %}"><i class="fa fa-eye"></i> view</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-danger text-white avatar">
                              <i class="bx bxs-smile"></i>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium">
                                {{ products }} Products
                            </div>
                            <div class="text-muted">
                                <a href="{% url 'admins:product-list' %}"><i class="fa fa-eye"></i> view</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        {# YEARLY SALES #}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <h6 class="mb-0 card-title">{% now 'Y' %} Sales</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div id="chart">
                        <!-- Your chart content goes here -->
                    </div>
                </div>
            </div>
        </div>

        {# MONTHLY SALES #}

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <h6 class="mb-0 card-title">{% now 'Y' %} Orders</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div id="chart_year_months_amounts">
                        <!-- Your chart content goes here -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-7 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <a href="#" class="mb-0  float-end"><i class="fa fa-eye"></i> view all</a>
                        <h6 class="mb-0 card-title">Recent Orders</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover card-table table-vcenter text-nowrap datatable">
                            <thead class="thead-light">
                            <tr>
                                <th>User</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Created On</th>
                                <th>Order Status</th>
                                <th>Payment Status</th>
                                <th>-</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for object in recent_orders %}
                                <tr class="">
                                    <td>
                                        <b>
                                            <a href="{% url 'admins:user-detail' object.client.id %}">saqib</a>
                                        </b>
                                    </td>
                                    <td>{{ object.sub_total }}</td>
                                    <td>{{ object.created_on }}</td>
                                    <td>

                                        <span class="badge bg-{{ object.order_status|alert_type_class }}-lt">{{ object.order_status }}</span>

                                    </td>
                                    <td>

                                        <span class="badge bg-{{ object.payment_status|alert_type_class }}-lt">{{ object.payment_status }}</span>

                                    </td>
                                    <td>
                                        <span class="badge bg-{{ object.payment_type|alert_type_class }}-lt">{{ object.payment_type }}</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-success-lt">{{ object.shipment_type }}</span>
                                    </td>
                                    <td>
                                        <a class="text-primary" href="{% url 'admins:order-detail' object.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12  col-md-12 col-lg-5 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <h6 class="mb-0 card-title">OverAll Orders Statistics</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div id="order_chart">
                        <!-- Your chart content goes here -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.49.1/apexcharts.min.js"
            integrity="sha512-qiVW4rNFHFQm0jHli5vkdEwP4GPSzCSp85J7JRHdgzuuaTg31tTMC8+AHdEC5cmyMFDByX639todnt6cxEc1lQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function coolNumberFormatter(value) {
            return value.toLocaleString();
        }

        let options_year_months = {
            series: [{
                name: 'Orders',
                data: {{ total_monthly_sales }}
            }]
            ,
            chart: {
                height: 225,
                type:
                    'area'
            }
            ,
            dataLabels: {
                enabled: false
            }
            ,
            stroke: {
                curve: 'smooth'
            }
            ,
            xaxis: {
                type: 'number',
                categories:
                    ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
            }
            ,
            yaxis: {
                labels: {
                    formatter: function (value) {
                        return coolNumberFormatter(parseInt(value));
                    }
                }
            }
        };
        let options_year_months_amounts = {
            series: [{
                name: 'Total',
                data: {{ total_monthly_orders }}
            }],
            chart: {
                height: 225,
                type:
                    'bar'
            }
            ,
            dataLabels: {
                enabled: false
            }
            ,
            stroke: {
                curve: 'smooth'
            }
            ,
            xaxis: {
                type: 'number',
                categories:
                    ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
            }
            ,
            yaxis: {
                labels: {
                    formatter: function (value) {
                        return coolNumberFormatter(parseInt(value));
                    }
                }
            }
        };
        var id_order_pie_chart = {
            series: [{{total_orders}}, {{pending_orders}}, {{completed_orders}}, {{ cancelled_orders }}],
            chart: {
                width: 380,
                type: 'donut',
            },
            labels: ['Total', 'Pending', 'Completed', 'Cancelled'],
            plotOptions: {
                pie: {
                    startAngle: -90,
                    endAngle: 270
                }
            },
            dataLabels: {
                enabled: false
            },
            fill: {
                type: 'gradient',
            },
            legend: {
                formatter: function (val, opts) {
                    return val + " - " + opts.w.globals.series[opts.seriesIndex]
                }
            },

            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        let chart_year_months_amounts = new ApexCharts(document.querySelector("#chart_year_months_amounts"), options_year_months_amounts);
        var order_chart = new ApexCharts(document.querySelector("#order_chart"), id_order_pie_chart);
        var chart = new ApexCharts(document.querySelector("#chart"), options_year_months);
        chart_year_months_amounts.render();
        order_chart.render();
        chart.render();


    </script>

{% endblock %}