{% extends 'admins/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_subtitle %} Orders Details{% endblock %}
{% block base_subhead_heading %} Order &rAarr; Detail{% endblock %}
{% block base_subhead_paragraph %}Order detailed down description{% endblock %}


{% block base_subhead_button %}
    {% with request.META.HTTP_REFERER as referer %}
        <a class="btn btn-ghost-primary" href="{{ referer }}">
            <i class="fa fa-arrow-left"></i>&nbsp;Back
        </a>
    {% endwith %}
{% endblock %}

{% block base_content %}

    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="shadow-none mb-0 card" style="">
                <div class="card-body">
                    <h2 class="mb-0 h4 text-center card-title">Shipment Detail</h2>
                </div>
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-6  text-center border-dark">
                            <h3>Track Status</h3>
                        </div>
                        <div class="col-6  text-center  border-dark">
                            <h3>{{ shipment_data.track_status }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center border-dark">
                            <h3>Shipment Status</h3>
                        </div>
                        <div class="col-6 text-center  border-dark">
                            <h3>{{ shipment_data.shipment_status }}</h3>
                        </div>
                    </div>
                    {% for item in shipment_data.shipment_track %}
                        {% for key, value in item.items %}
                            <div class="row">
                                <div class="col-6 text-center border-dark">
                                    <h3>{{ key }}</h3>
                                </div>
                                <div class="col-6 text-center border-dark">
                                    <h3>{{ value }}</h3>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if shipment_data.shipment_track_activities %}
                        {% for activity in shipment_data.shipment_track_activities %}
                            {% for key, value in activity.items %}
                                <div class="row">
                                    <div class="col-6 text-center border-dark">
                                        <h3>{{ key }}</h3>
                                    </div>
                                    <div class="col-6 text-center border-dark">
                                        <h3>{{ value }}</h3>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div class="row">
                        <div class="col-6 text-center border-dark">
                            <h3>Track Url</h3>
                        </div>
                        <div class="col-6 text-center  border-dark">
                            <h3>{{ shipment_data.track_url }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center border-dark">
                            <h3>qc_response</h3>
                        </div>
                        <div class="col-6 text-center  border-dark">
                            <h3>{{ shipment_data.qc_response }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center border-dark">
                            <h3>is_return</h3>
                        </div>
                        <div class="col-6 text-center  border-dark">
                            <h3>{{ shipment_data.qc_response }}</h3>
                        </div>
                    </div>
                    {% if shipment_data.error %}
                        <div class="row">
                            <div class="col-12 text-center border-dark">
                                <h3 class="text-danger">{{ shipment_data.error }}</h3>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}