{% extends 'admins/base.html' %}
{% load custom_tags %}
{% load static %}

{% block base_subtitle %}
    Dashboard
{% endblock %}


{% block base_subhead_button %}
    <a class="btn btn-ghost-primary" href="{% url 'admins:order-detail' object.id %}">
        <i class="fa fa-arrow-left"></i>&nbsp;Back
    </a>

{% endblock %}

{% block base_subhead_heading %} Order &rAarr; Invoice{% endblock %}

{% block base_content %}

    {# TOP STATISTICS #}
    <div class="row justify-content-center">
        <div class="col-lg-9" id="invoice-content">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Invoice #{{ object.get_order_invoice.id }} <span
                                class="badge bg-success font-size-12 ms-2">{{ object.order_status }}</span></h4>
                        <div class="mb-4">
                            <h2 class="mb-1 text-muted"><img src="{% static 'Logo_New_rajeshtan 1.png' %}"></h2>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-4">
                            <div class="">
                                <h2 class=" mb-3">Billed By:</h2>
                                <p class="m-0"><b>NAME </b>- RAJASTHAN DRY FRUIT HOUSE</p>
                                <p class="m-0"><b>ADDRESS</b> :
                                <p class="m-0">
                                    GF-8, CAMPUS CORNER-2, OPP AUDA
                                    GARDEN 100 FT ROAD,PRAHALAD
                                    NAGAR, AHMEDABAD, Ahmedabad,
                                    Gujarat, 380015</p>
                                <p class="m-0"><b>MO.NO </b>: 8141066633</p>
                                <p class="m-0"><b>EMAIL </b>: rajasthandryfruits21@gmail.com</p>
                                <p class="m-0"><b>GSTIN</b>:-24ABEFR0010J1ZQ</p>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="">
                                <h2 class=" mb-3">Billed To:</h2>
                                <p class="m-0"><b>NAME </b>- {{ object.full_name }}</p>
                                <p class="m-0"><b>ADDRESS</b> :
                                <p class="m-0">
                                    {{ object.address }}, {{ object.city }}
                                    ,{{ object.state }},{{ object.postal_code }}, {{ object.country }}</p>
                                <p class="m-0"><b>MO.NO </b>: {{ object.contact }}</p>
                                <p class="m-0"><b>EMAIL </b>: {{ object.email }}</p>
                                <p class="m-0"><b>GSTIN</b>:-{{ object.gst_in }}</p>
                            </div>
                        </div>
                        <!-- end col -->

                        <!-- end col -->
                        <div class="col-3">
                            <div class=" text-sm-end">
                                <div>
                                    <h3 class=" mb-1">Invoice No:</h3>
                                    <p>#{{ object.get_order_invoice.invoice_number }}</p>
                                </div>
                                <div class="mt-4">
                                    <h3 class=" mb-1">Invoice Date:</h3>
                                    <p>{{ object.get_order_invoice.created_on }}</p>
                                </div>
                                <div class="mt-4">
                                    <h3 class=" mb-1">Order No:</h3>
                                    <p>#{{ object.id }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="py-2">
                        <h3 class="">Order Summary</h3>

                        <div class="table-responsive ">
                            <table class="table align-middle table-bordered table-nowrap table-centered mb-0">
                                <thead>
                                <tr>
                                    <th style="width: 70px;">SR.No</th>
                                    <th>Item</th>
                                    <th>HSN CODE</th>
                                    <th>QTY</th>
                                    <th>AMOUNT</th>
                                    <th>DISC (%)</th>
                                    <th>TAX</th>
                                    <th class="text-end" style="width: 120px;">Total</th>
                                </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                {% for obj in object.get_cart %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">{{ obj.product }}
                                                </h5>
                                                <p class="text-muted mb-0">{% if obj.product_weight %}
                                                    {{ obj.product_weight.weight }}{% endif %}</p>
                                            </div>
                                        </td>
                                        <td>{{ obj.product.hsn_code }}</td>
                                        <td>{{ obj.qty }}</td>
                                        <td>{% if obj.product_weight %}
                                            {{ obj.product_weight.get_product_weight_discounted_price }}{% endif %}</td>
                                        <td>{{ obj.product.discount }} %</td>
                                        <td>{{ obj.get_tax_discount_percentage }} %</td>
                                        <td class="text-end">{{ obj.get_price|multiply:obj.qty }}</td>
                                    </tr>
                                {% endfor %}
                                <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="">
                                <p class="m-0"><b>Bank account number</b> :- 40570838103</p>
                                <p class="m-0"><b>IFS Code</b>: SBIN00139251</p>
                                <p class="m-0"><b>Bank Name</b>:- STATE BANK OF INDIA</p>
                                <p class="m-0"><b>BRACH</b> : PRAHLADNAGAR ,SATELLITE, AHMEDABAD</p>
                            </div>
                        </div>

                        <!-- end col -->
                        <div class="col-6">
                            <div class=" text-sm-end">
                                <p class="m-0"><b>Amount Before tax</b> : {{ object.total }} Rs</p>
                                <p class="m-0"><b>Coupon Discount</b> : {{ object.get_coupon_discount }} Rs</p>
                                {% if object.state == "gujarat" %}
                                    <p class="m-0"><b>cgst + sgst </b>: {{ object.tax }} Rs</p>
                                {% else %}
                                    <p class="m-0"><b>igst </b>: {{ object.tax }} Rs</p>
                                {% endif %}
                                <p class="m-0"><b>shipping</b> : {{ object.shipping_charges }} Rs</p>
                                <p class="m-0"><b>SubTotal</b> : {{ object.sub_total }} Rs</p>

                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <div class="receipt">
                        <div class="row">

                        </div>
                        <div class="row">
                           <div class="col-6">
                               <div class="row">
                            <div class="col-12" style="margin-top: 50px">
                                <p>Remark : Thanks for your business.</p>
                            </div>
                            <div class="col-12">
                                <p class="font-weight-bold"><b>Terms & Conditions </b>:</p>
                                <ol>
                                    <li>Goods once sold will not be taken back</li>
                                    <li>Our risk & responsibility ceases as soon as good delivered</li>
                                </ol>
                            </div>

                               </div>
                           </div>
                            <div class="col-6">
                               <div class="row">
                                    <div class="col-12" style="margin-top: 50px">
                                <div class="float-end">
                                    <div>
                                        <p>For, POSSIBAL ENTERPRISE</p>
                                    </div>
                                    <div  style="margin-top: 100px">
                                        <p>(Authorized Signature)</p>
                                    </div>
                                </div>
                            </div>
                               </div>
                           </div>
                        </div>

                    </div>
                    <div class="d-print-none mt-4">
                        <div class="float-end">

                            <button id="download-btn"
                                    class="btn btn-warning w-md">Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
            integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Function to convert HTML to image and trigger download
        function downloadInvoice() {
            // Select the HTML element containing the invoice content
            const element = document.getElementById('invoice-content');

            // Use html2canvas to convert the HTML content to an image
            html2canvas(element).then(canvas => {
                // Convert the canvas to a data URL
                const imageData = canvas.toDataURL('image/png');

                // Create a temporary link element
                const link = document.createElement('a');
                link.href = imageData;
                link.download = 'invoice.png';

                // Trigger a click event on the link to initiate the download
                document.body.appendChild(link);
                link.click();

                // Clean up
                document.body.removeChild(link);
            });
        }

        // Attach click event listener to the download button
        document.getElementById('download-btn').addEventListener('click', downloadInvoice);
    </script>
{% endblock %}


