{% extends 'admins/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_subtitle %} Orders Details{% endblock %}
{% block base_subhead_heading %} Order &rAarr; Detail{% endblock %}
{% block base_subhead_paragraph %}Order detailed down description{% endblock %}


{% block base_subhead_button %}
    <a class="btn btn-ghost-primary" href="{% url 'admins:order-list' %}">
        <i class="fa fa-arrow-left"></i>&nbsp;Orders
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-sm-8">
            <div class="shadow-none mb-0 card" style="">
                <div class="card-body">
                    <h5 class="mb-0 h4 card-title">Order Summary</h5>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0 table-borderless">

                            <tbody>

                            {% for product in object.get_cart %}
                                <tr>
                                    <th scope="row">
                                        {% if product.product.thumbnail_image %}
                                            <img src="{{ product.product.thumbnail_image.url }}" height="50"
                                                 alt="product-img"
                                                 title="product-img"
                                                 class="avatar-md">
                                        {% else %}
                                            <img src="{% static 'required/images/no-image-product-portrait.jpg' %}"
                                                 height="50"
                                                 alt="product-img"
                                                 title="product-img"
                                                 class="avatar-md">
                                        {% endif %}
                                    </th>
                                    <td>
                                        <h3 class="mb-0">
                                            <a href="{% url 'admins:product-detail' product.product.pk %}"
                                               class="text-dark">{{ product.product.title }}</a>
                                        </h3>
                                        <p class="text-muted mb-0">
                                            <span class="bg-success-lt badge">{{ product.product.category }}</span>
                                        </p>
                                    </td>
                                    {% if product.product.require_weight %}
                                        <td><b class="font-weight-bolder">{{ product.product_weight.weight.name }}</b>
                                        </td>
                                        <td><b>QTY: {{ product.qty }}</b></td>
                                        <td>
                                            <b class="font-weight-bolder">Price:&nbsp;&nbsp;&nbsp;{{ product.product_weight.get_product_weight_discounted_price }}</b>
                                        </td>
                                    {% else %}

                                        <td><b>QTY: {{ product.qty }}</b></td>
                                        <td>
                                            <b class="font-weight-bolder">Price:&nbsp;&nbsp;&nbsp;{{ product.product.get_price }}</b>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}


                            <tr class="border-top">
                                <th colspan="4"><h2 class="m-0 text-right">Total:</h2></th>
                                <th><h2> {{ object.total|floatformat:2 }}</h2></th>
                            </tr>

                            <tr class="border-top">
                                <th colspan="4"><h2 class="m-0 text-right">Service Charges:</h2></th>
                                <th><h2> {{ object.service_charges|floatformat:2 }}</h2></th>
                            </tr>

                            <tr class="border-top">
                                <th colspan="4"><h2 class="m-0 text-right">Shipping Charges:</h2></th>
                                <th><h2> {{ object.shipping_charges|floatformat:2 }}</h2></th>
                            </tr>

                            <tr class="border-top">
                                <th colspan="4"><h2 class="m-0 text-right">Sub Total:</h2></th>
                                <th><h2> {{ object.sub_total|floatformat:2 }}</h2></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="card mb-2">
                <div class="card-body text-center">
                    {% if object.client.profile_image %}
                        <img src="{{ object.client.profile_image.url }}" height="50" width="auto"
                             class="rounded-circle">
                    {% else %}
                        <img src="{% static 'required/images/no-user.png' %}" height="100" width="auto"
                             class="rounded-circle">
                    {% endif %}
                    <h2 class="mb-0 mt-2">
                        <a href="{% url 'admins:user-detail' object.client.pk %}">{{ object.client.name_or_username }}</a>
                    </h2>
                    <p class="mb-0"><a href="mailto:{{ object.client.email }}">{{ object.client.email }}</a></p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-center">

                            <h1 class="text-{{ object.order_status|alert_type_class }}"><i
                                    class="fa fa-{% if object.order_status == "pending" %}exclamation{% elif object.order_status == "approved" %}check{% elif object.order_status == "cancelled" %}times{% elif object.order_status == "delivery" %}truck{% elif object.order_status == "completed" %}check-circle{% else %}times-circle{% endif %}"></i>
                            </h1>

                            <h3><span
                                    class="badge bg-{{ object.order_status|alert_type_class }}-lt">{{ object.get_order_status_display }}</span>
                            </h3>
                            <p class="mb-0"><b>Order Status</b></p>


                        </div>
                        <div class="col-6 text-center">

                            <h1 class="text-{{ object.payment_status }}"><i
                                    class="fa fa-{% if object.payment_status == "unpaid" %}exclamation{% elif object.payment_status == "pending" %}exclamation{% elif object.payment_status == "paid" %}check{% else %}times{% endif %}"></i>
                            </h1>
                            <h3><span
                                    class="badge bg-{{ object.payment_status }}-lt">{{ object.get_payment_status_display }}</span>
                            </h3>
                            <p class="mb-0"><b>Payment Status</b></p>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title">Shipment Details</div>
                    <div class="mb-2">
                        <i class="fa fa-map"></i>
                        phone: <strong>{{ object.contact }}</strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-map"></i>
                        address: <strong>{{ object.address }}</strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-map-pin"></i>
                        City: <strong>{{ object.city }}</strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-home"></i>
                        Country: <strong>{{ object.country }}</strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-telegram"></i>
                        Postal Code: <strong>{{ object.postal_code }}</strong>
                    </div>
                    {% if object.shipment_type == "custom" or object.shipment_type == "not-selected" %}
                        <div class="mb-2">
                            <a href="{% url 'admins:shipment-update' object.shipment.id %}"
                               class="btn btn-primary d-inline-block"><i class="fa fa-plus"></i>&nbsp;&nbsp;Update
                                Custom Shipment</a>
                        </div>
                    {% endif %}
                    {% if object.shipment_type == "not-selected" %}

                        <div class="mb-2">
                            <a href="{% url 'admins:shiprocket-shipment-create' object.id %}"
                               class="btn btn-primary d-inline-block"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                Shiprocket
                                Shipment</a>
                        </div>
                    {% endif %}
                    {% if  object.shipment_type == "ship_rocket" %}
                        <a href="{% url 'admins:shiprocket-shipment-detail' object.get_shipment_id %}"
                           class="btn btn-primary d-inline-block"><i class="fa fa-eye"></i>&nbsp;&nbsp;
                            View Shipment Detail
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}